
<update-title title="Annacloud.com - Accedi"></update-title>
<update-meta http-equiv="Content-Language" content="es"></update-meta>
<update-meta name="description" content="Descrizione"></update-meta>
<update-meta property="og:title" content="Annacloud.com - Accedi"></update-meta>
<update-meta property="og:description" content="Descrizione"></update-meta>
<update-meta itemprop="description" content="Descrizione"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>

<div ng-controller="accessoController as accesso">
    
    <div class="container top-buffer bottom-buffer ">
        <div class="row">
            <div class="col-sm-12 clearfix top-buffer bottom-buffer text-center">
                <p class="subtitle"><b>Accedi</b> o <b>registrati</b> per fare i tuoi acquisti</p>
            </div>
        </div>
        <div class="row access">   
            <div class="col-sm-6">
                <h3 class="title-secondary">Accedi</h3>
                <form>
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only hidden"></label>
                        <input type="email" ng-model="loginEmail" class="form-control" id="inputEmail" placeholder="Indirizzo Email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only hidden"></label>
                        <input ng-model="loginPassword" type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="remember.value" class="js-switch"> Ricordami</label> <a href="#" onclick="return false">(?)</a>
                    </div>
                    <button ng-click="login(loginEmail, loginPassword)" class="btn btn-default btn-save">Accedi</button>
                    <a href="javascript:void(0);" ng-click="forgotPassword()" class="recover" >Recupera la password</a>
                </form>
            </div>
            <div class="col-sm-6">
                <h3 class="title-secondary">Crea il tuo account</h3>
                <form>
                    <div class="form-group">
                        <label for="inputNome" class="sr-only hidden"></label>
                        <input ng-model="nome" type="text" class="form-control" id="inputNome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="inputCognome" class="sr-only hidden"></label>
                        <input ng-model="cognome" type="text" class="form-control" id="inputCognome" placeholder="Cognome">
                    </div>
                    <div class="form-group">
                        <label for="inputEmailReg" class="sr-only hidden"></label>
                        <input ng-model="emailSign" type="email" class="form-control" id="inputEmailReg" placeholder="Indirizzo Email">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordReg" class="sr-only hidden"></label>
                        <input ng-model="passwordSign" type="password" class="form-control" id="inputPasswordReg" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="inputRepeatPasswordReg" class="sr-only hidden"></label>
                        <input ng-model="passwordSignRep" type="password" class="form-control" id="inputRepeatPasswordReg" placeholder="Ripeti Password">
                    </div>
                    <button ng-click="signUpCheckEmail(emailSign, nome,cognome, passwordSign)" class="btn btn-default btn-save">Registrati</button>
                    <a href="#" onclick="return false" class="recover">Informativa sulla privacy</a>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="remember.value" class="js-switch">Ho preso visione dell’informativa e autorizzo il trattamento dei miei dati secondo quanto in essa riportato.</label></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>


