<div ng-controller="administratorController" ng-init="initAdmin()">
    <div class="container-fluid no-padding" style="min-width: 1200px;">
        <nav class="navbar navbar-default admin nomargin ">
            <ul class="nav navbar-nav fixed-navbar-left">
                <li>
                    <a href="home" class="link"><i class="fa fa-home hidden"></i><img src="images/logonew-big.png" class="hidden-xs" style="height: 25px;"><img src="images/logonew-mobile-conf-big.png" class=" visible-xs-inline-block" style="height: 15px"></a>
                </li>
                <li>
                    <a href="#" onclick="return false" class="">ORDINI</a>
                </li>
                <li>
                    <a href="admin-clienti" class="">CLIENTI</a>
                </li>
                <li>
                    <a href="admin-codicisconto" class="">CODICI SCONTO</a>
                </li>
            </ul>
            <ul class="nav navbar-nav fixed-navbar-right">
                <li class="">
                    <a href="accedi" id="user-menu"><i class="unaicon-login"></i> <span class="hidden-xs">Admin</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid" style="min-width: 1200px; max-width: 1200px">
        <div class="row">
            <div class="col-xs-12 stage-label">
                <input type="text" placeholder="Cerca l'ordine" ng-model="query" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 stage-label">
                <h3 class="Slabel">Ordinato</h3>
            </div>
            <div class="col-xs-3 stage-label">
                <h3 class="Slabel">Lavorazione</h3>
            </div>
            <!-- <div class="col-xs-3 stage-label"><h3 class="Slabel">Lavorazione #2</h3></div> -->
            <div class="col-xs-3 stage-label">
                <h3 class="Slabel">Spedizione</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 stage">
                <div class="ordine" ng-repeat="ordine in ordinato | filter: search">
                    <div class="item clearfix">
                        <h4 class="item-data"><span>Ordine:</span>{{ordine.codice}}<br><span>Data:</span>{{convertDate(ordine.codice)}}<br><span>Utente:</span>{{ordine.email}}</h4>
                    </div>
                    <div class="action">
                        <a href="javascript:void(0)" ng-click="openSchedaOrdine(ordine)" class="dettagli">vedi dettagli</a><a href="javascript:void(0)" class="precedente off">&lt;</a><a href="javascript:void(0)" class="successivo" ng-click="updateStatus(ordine, 6)">&gt;</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 stage">
                <div class="ordine" ng-repeat="ordine in lavorazione | filter: search">
                    <div class="item clearfix">
                        <h4 class="item-data"><span>Ordine:</span>{{ordine.codice}}<br><span>Data:</span>{{convertDate(ordine.codice)}}<br><span>Utente:</span>{{ordine.email}}</h4>
                    </div>
                    <div class="action">
                        <a href="javascript:void(0)" ng-click="openSchedaOrdine(ordine)" class="dettagli">vedi dettagli</a><a href="javascript:void(0)" class="precedente" ng-click="updateStatus(ordine, 1)">&lt;</a><a href="javascript:void(0)" class="successivo" ng-click="updateStatus(ordine, 4)">&gt;</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-3 stage">
                <div class="ordine" ng-repeat="ordine in lavorazione2 | filter: search" >
                    <div class="item clearfix">
                        <h4 class="item-data"><span>Ordine:</span>{{ordine.codice}}<br><span>Data:</span>{{convertDate(ordine.codice)}}<br><span>Utente:</span>{{ordine.email}}</h4>
                    </div>
                    <div class="action">
                        <a href="javascript:void(0)" ng-click="openSchedaOrdine(ordine)" class="dettagli">vedi dettagli</a><a href="javascript:void(0)" class="precedente" ng-click="updateStatus(ordine, 2)">&lt;</a><a href="javascript:void(0)" class="successivo " ng-click="updateStatus(ordine, 4)">&gt;</a>
                    </div>
                </div>
            </div> -->
            <div class="col-xs-3 stage">
                <div class="ordine" ng-repeat="ordine in spedizione | filter: search">
                    <div class="item clearfix">
                        <h4 class="item-data"><span>Ordine:</span>{{ordine.codice}}<br><span>Data:</span>{{convertDate(ordine.codice)}}<br><span>Utente:</span>{{ordine.email}}</h4>
                    </div>
                    <div class="action">
                        <a href="javascript:void(0)" ng-click="openSchedaOrdine(ordine)" class="dettagli">vedi dettagli</a><a href="javascript:void(0)" class="precedente" ng-click="updateStatus(ordine, 3)">&lt;</a><a href="javascript:void(0)" class="save" ng-click="updateStatus(ordine, 5)"><i class="fa fa-floppy-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>