
<update-title title="Annacloud.it - Cambio Password"></update-title>
<update-meta http-equiv="Content-Language" content="es"></update-meta>
<update-meta name="description" content="Descrizione"></update-meta>
<update-meta property="og:title" content="Annacloud.it - Cambio Password"></update-meta>
<update-meta property="og:description" content="Descrizione"></update-meta>
<update-meta itemprop="description" content="Descrizione"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>

<div ng-controller="cambioPasswordController as cambio" ng-init="cambio.init()" class="container">
    <div class="row">
        <div class="col-sm-12 clearfix top-buffer text-center">
            <h3 class="title section mot" ng-bind-html="'cambio_password_titolo' | translate"></h3>
        </div>
    </div>
    <div class="row profile">
        <div class="col-sm-6 text-right bottom-buffer">
            <h4 class="title-secondary bottom-buffer" ng-bind-html="'cambio_password_titolo' | translate"></h4>
            <h4 class="title-tertiary" ng-bind-html="'cambio_password_sottotitolo' | translate"></h4>
        </div>
        <div class="col-sm-6">
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" ng-model="codiceVerifica" class="form-control" id="codiceVerifica" placeholder="{{ 'campo_codice_verifica' | translate }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input ng-model="passwordCP" type="password" class="form-control" id="password" placeholder="{{ 'campo_password' | translate }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input ng-model="passwordRepeatCP" type="password" class="form-control" id="passwordRepeat" placeholder="{{ 'campo_ripeti_password' | translate }}">
                    </div>
                </div>
                <div class="col-sm-12">
                    <button ng-click="cambio.submit()" class="btn btn-default btn-save no-margin" ng-disabled="!cambio.passwordUguali()" ng-bind-html="'esegui_cambio_password' | translate"></button>
                    <span class="" style="margin: 5px 0; padding: 3px 8px;background-color: #fee; color: #c00; font-size: .75em; display: inline-block " ng-show="!cambio.passwordUguali()" ng-bind-html="'errore_password_diverse' | translate"></label>
                </div>
            </div>
        </div>
    </div>
</div>


