<div ng-controller="carrelloController as carrelloContr" class="container text-center ">
    <div class="row">
        <div class="col-sm-12 clearfix top-buffer">
            <h3 class="title section mot"><span>Carrello</span></h3>
            <!--<p>in questa area puoi verificare i tuoi ordini, visualizzare e modificare i tuoi preferiti.</p>-->
        </div>
    </div>
    <div ng-if="getCarrello().length == 0">
        <div class="row">
            <div class="col-sm-12 clearfix bottom-buffer wow fadeIn" data-wow-delay=".4s">
                <p class="subtitle">Non hai ancora aggiunto nessun articolo al Carrello.</p>
                    <a href="#!/configura" class="btn btn-default btn-lg" style="margin-top: 1em;">Configura adesso</a>
            </div>
        </div>
    </div>
    <div ng-if="getCarrello().length != 0" class="row bag-list">
        <div class="col-sm-12 no-padding">
            <div class="col-sm-8 no-padding">
                <div ng-repeat="conf in getCarrello()" class="col-sm-12 bag-item clearfix visible-xs">
                    <div class="col-sm-8 no-padding">
                        <div class="col-sm-3">
                            <img  ng-src="{{conf.thumbnail}}" class="bag-sample">
                        </div>
                        <div class="col-sm-9">
                            <div class="col-sm-12">
                                
                                <h4 class="bag">{{conf.nome}} - ordine n. {{conf.codice}}</h4>
                            </div>
                            <div class="col-sm-6 base">
                                <h5 class="section-small left">Base </h5>
                                <table>
                                    <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">
                                        <td><span>MODELLO:</span></td>
                                        <td>{{base.descrizione}}</td>
                                    </tr>
                                    <tr>
                                </table>
                            </div>
                            <div class="col-sm-6 accessori">
                                <h5 class="section-small left">Accessori</h5>
                                <table>
                                    <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria != 'modello'">
                                        <td><span><b>{{base.categoria.toUpperCase()}}:</b> </span></td>
                                        <td>{{traduciNomiOrdini(base)}}</td>
                                    </tr>
                                </table>
                            </div>
                            <p ng-click="eliminaConfigurazione(conf.codice)" class="remove">elimina <small><i class="unaicon-remove"></i></small></p>
                        </div>
                    </div>
                </div>
                <div ng-repeat="conf in getCarrello()" class="col-sm-12 bag-item clearfix hidden-xs">
                    <div class="col-sm-12">
                        <div class="media">
                            <div class="media-left">
                                <a href="#" onclick="return false">
                                    <img  ng-src="{{conf.thumbnail}}" class="media-object bag-sample">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="col-sm-12">
                                    <p ng-click="rimuoviDaCarrello(conf)" class="remove">elimina <small><i class="unaicon-remove"></i></small></p>
                                    <h4 class="media-heading bag">{{conf.nome}} - {{conf.codice}}</h4>
                                </div>
                                <div class="col-md-6 col-sm-12 base">
                                    <h5 class="section-small left">Base </h5>
                                    <table>
                                        <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">
                                            <td><span>MODELLO:</span></td>
                                            <td>{{base.descrizione}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-12 accessori">
                                    <h5 class="section-small left">Accessori</h5>
                                    <table>
                                        <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria != 'modello'">
                                            <td><span><b>{{base.categoria.toUpperCase()}}:</b> </span></td>
                                            <td>{{traduciNomiOrdini(base)}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bag-item clearfix">
                <div class="col-sm-12 ">
                    <div class="order-state one summary">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <span>Subtotale</span>
                                <span class="single-price"><b>{{getTotalAmount()}}&euro;</b></span>
                            </div>
                            <div class="col-sm-12 text-left">
                                <span>spedizione</span>
                                <span class="single-price"><b>{{getCostoSpedizione()}}&euro;</b></span>
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <span>TOTALE</span>
                                <span class="single-price"><b>{{getTotalAmount() + getCostoSpedizione()}}&euro;</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="order-buttons top-buffer text-center">
                        <a href="#" onclick="return false" class="btn btn-block btn-default btn-reverse" ng-click="getCheckout()" >
                            Procedi al
                            checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>