<div ng-controller="checkoutController" ng-init="initCheckOut()">
    <div class="container top-buffer bottom-buffer ">
        <div class="row">
            <div class="col-sm-12 clearfix top-buffer text-center">
                <h3 class="title section mot"><span>Checkout</span></h3>
            </div>
        </div>
    </div>
    <div class="container top-buffer bottom-buffer ">
        <div class="row ">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 bag-item clearfix">
                <div class="col-sm-12 no-padding ">
                    <div class="order-state one summary checkout">
                        <h4 class="title-tertiary ">Informazioni di contatto e consegna</h4>
                        <hr>
                    	<div class="shipment-info" >
                            <h5>{{getNomeECognome()}}</h5>
                            <h5>{{getIndirizzoSpedizione()}}</h5>
                            <h5>{{getCittaSpedizione()}}</h5>
                            <h5>{{getCAPSpedizione()}}</h5>
                            <!--button class="btn btn-default btn-save ">Modifica</button-->
                        </div>
                        <div class="order-buttons top-buffer text-center" ng-hide="canBuy()">
                            <span style="color: #c00"><b>Non si puo' procedere all'acquisto,<br>mancano i dati di spedizione</b></span><p class="top-buffer"><a href="javascript:void(0);" ng-click="inserisciIndirizzoSpedizione()" class="btn btn-action btn-block"><b>aggiungi</b></a></p>
                        </div>
                    </div>
                    <div class="order-state one summary checkout">
                        <h4 class="title-tertiary ">Riepilogo del tuo ordine</h4>
                        
                    	<div ng-repeat="conf in ordine.configurazioni" >
                            <hr>
	                        <div  class="row">
	                            <div class="col-sm-12 text-left">
	                                <h5 class="" style="text-transform: uppercase">NOME CONFIGURAZIONE: {{conf.nome}}</h5>
                                    <span>
                                        <div ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">
                                            MODELLO: {{base.descrizione}}
                                        </div><br/>
                                        <div ng-repeat="base in conf.elencoEntita" ng-if="base.categoria != 'modello'">
                                            {{base.categoria.toUpperCase()}}: {{traduciNomiOrdini(base)}}
                                        </div><br/>
                                        <!-- Colore : {{getColoreConf(conf)}}<br>
                                        Iniziali: {{getInizialiConf(conf)}} -->
                                    </span>
	                                <span class="single-price">{{calcolaPrezzo(conf)}}&euro;</span>
	                                <!-- <p ng-click="eliminaDaOrdine(conf)" class="remove">elimina <small><i class="unaicon-remove"></i></small></p> -->
	                            </div>          
	                        </div>
                        </div>
                    </div>
                    <div class="order-state one summary current normal no-border top-buffer bottom-buffer">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <span>Subtotale</span>
                                <span class="single-price"><b>{{subtotale}}&euro;</b></span>
                            </div>
                            <div class="col-sm-12 text-left">
                                <span>spedizione</span>
                                <span class="single-price"><b>{{costoSpedizione}}&euro;</b></span>
                            </div>
                        </div>
	                        <hr>
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <span><b>TOTALE</b></span>
                                <span class="single-price"><b>{{totale}}&euro;</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="order-buttons top-buffer text-center" ng-show="canBuy()">
                        <!--<a href="#" class="btn btn-action btn-lg btn-block" ng-click="setCheckout()" style="width:auto;">Completa l'ordine</a>-->
                        <paypal-content info=conf></paypal-content>
                        <img src="images/paypal-choice.png" style="max-width: 250px; margin-top: 20px;">
                    </div>
                    <div class="order-buttons top-buffer text-center" ng-hide="canBuy()">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
