<div ng-controller="checkoutController" ng-init="initCheckOut()">
    <div class="container top-buffer bottom-buffer ">
        <div class="row">
            <div class="col-sm-12 clearfix top-buffer text-center">
                <h3 class="title section mot" ng-bind-html="'checkout_titolo' | translate"><span>Checkout</span></h3>
            </div>
        </div>
    </div>
    <div class="container top-buffer bottom-buffer ">
        <div class="row ">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 bag-item clearfix">
                <div class="col-sm-12 no-padding ">
                    <div class="order-state one summary checkout">
                        <h4 class="title-tertiary " ng-bind-html="'checkout_info_consegna' | translate"></h4>
                        <hr>
                        <div class="shipment-info" ng-show="canBuy()">
                            <h5>{{getNomeECognome()}}<br>{{getIndirizzoSpedizione()}} - {{getCittaSpedizione()}} - {{getCAPSpedizione()}}</h5>
                        </div>
                        <div class="order-buttons top-buffer text-center" ng-hide="canBuy()">
                            <span style="color: #c00" ng-bind-html="'checkout_info_consegna_errore' | translate"></span>
                            <p class="top-buffer"><a href="javascript:void(0);" ng-click="inserisciIndirizzoSpedizione()" class="btn btn-action btn-block"><b ng-bind-html="'aggiungi' | translate"></b></a></p>
                        </div>
                    </div>
                    <div class="order-state one summary checkout">
                        <h4 class="title-tertiary" ng-bind-html="'checkout_riepilogo_ordine' | translate"></h4>

                        <div ng-repeat="conf in ordine.configurazioni">
                            <hr>
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <h5 ng-if="conf.nome" style="text-transform: uppercase">{{conf.nome}} <small ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">({{base.descrizione.replace('_',' ')}}{{conf.taglia ? ' - ' + conf.taglia : ''}})</small></h5><span class="single-price" style="font-size: 1.3em; bottom: auto; top: 5px;">{{calcolaPrezzoScontato(conf)}}&euro;</span>
                                    <h5 ng-if="!conf.nome" style="text-transform: uppercase">Senza nome <small ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">({{base.descrizione}})</small></h5><span class="single-price" style="font-size: 1.3em; bottom: auto; top: 5px;">{{calcolaPrezzoScontato(conf)}}&euro;</span>
                                    <p class="riepilogo-accessori">
                                        <span ng-repeat="base in conf.elencoEntita" ng-if="base.categoria != 'modello'">
                                            {{base.categoria.toUpperCase()}}: {{traduciNomiOrdini(base)}}<br>
                                        </span>
                                        <!-- Colore : {{getColoreConf(conf)}}<br>
                                        Iniziali: {{getInizialiConf(conf)}} -->
                                    </p>
                                    <!-- <p ng-click="eliminaDaOrdine(conf)" class="remove">elimina <small><i class="unaicon-remove"></i></small></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-state one summary checkout">
                        <h4 class="title-tertiary" ng-bind-html="'checkout_riscatta_codice' | translate"></h4>
                        <input type="text" class="form-control readonly" ng-model="codiceCodiceSconto"><a href="#" onclick="return false" class="btn btn-block btn-default btn-reverse" ng-click="riscattaCodiceSconto()" ng-bind-html="'riscatta' | translate">RISCATTA</a>
                    </div>
                    <div class="order-state one summary checkout">
                        <label class="checkbox-container text-left">
                            <span ng-bind-html="'checkout_richiedi_fattura' | translate"></span>
                            <input type="checkbox" value="Richiedi Fattura" ng-model="fattura" ng-change="setRichiediFattura(fattura)" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="order-state one summary current normal no-border top-buffer bottom-buffer">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <span ng-bind-html="'checkout_subtotale' | translate"></span>
                                <span class="single-price"><b>{{subtotale}}&euro;</b></span>
                            </div>
                            <div class="col-sm-12 text-left" ng-if="applicaSconto">
                                <span ng-bind-html="'checkout_sconto' | translate"></span>
                                <span class="single-price"><b>{{percentualeCodiceSconto}}%</b></span>
                            </div>
                            <div class="col-sm-12 text-left" ng-if="applicaSconto">
                                <span ng-bind-html="'checkout_subtotale_scontato' | translate"></span>
                                <span class="single-price"><b>{{subtotaleSconto}}&euro;</b></span>
                            </div>
                            <div class="col-sm-12 text-left">
                                <span ng-bind-html="'checkout_spedizione' | translate"></span>
                                <span class="single-price"><b>{{costoSpedizione}}&euro;</b></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <span><b ng-bind-html="'checkout_totale' | translate" ng-bind-html="'checkount_totale' | translate"></b></span>
                                <span class="single-price"><b>{{totale}}&euro;</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="order-buttons top-buffer text-center" ng-show="canBuy()">
                        <!--<a href="#" class="btn btn-action btn-lg btn-block" ng-click="setCheckout()" style="width:auto;">Completa l'ordine</a>-->
                        <paypal-content info=conf></paypal-content>
                        <img src="images/paypal-choice.png" style="max-width: 250px; margin-top: 20px;">
                    </div>
                    <div class="order-buttons top-buffer text-center" ng-hide="canBuy()">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>