<!--div class="esperienza-content wow" ng-init="wowInit({boxClasses:'esperienza-content wow'})"-->
<div class="collezione-content " >
	<div class="jumbotron quote-section page-header index wow fadeIn hidden visible-xs-block" data-wow-delay="0.1s" style="margin-bottom:0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 clearfix">
					<h2 class="title">*The star(t)* collection.<br>
						La personalità è il nuovo lusso.</h2>
	
				</div>
			</div>
		</div>
	</div>
	<div style="position: relative">
		<img src="images/jumbotron-collezione.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden-xs" data-wow-delay="0.1s">
		<img src="images/jumbotron-collezione-xs.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden visible-xs-block" data-wow-delay="0.1s">
		<h2 class="slogan-5 hidden-xs"><span>*The star(t)* collection.</span><br>
			<span>La personalità è il nuovo lusso.</span></h2>
	</div>
	<div class="container-fluid">
		<div class="row collezione-img">
			<div class="col-sm-12 no-padding no-margin  clearfix bottom-buffer  wow fadeInUpSmall" data-wow-delay=".2s">
				<img src="images/collection_1.jpg" class="img-responsive">
				<img src="images/collection_2.jpg" class="img-responsive">
				<img src="images/collection_3.jpg" class="img-responsive">
				<img src="images/collection_4.jpg" class="img-responsive">
				<img src="images/collection_5.jpg" class="img-responsive">
				<img src="images/collection_6.jpg" class="img-responsive">
				<img src="images/collection_7.jpg" class="img-responsive">
			</div>
		</div>
	</div>
	<div class="container text-center bottom-buffer">
		<div class="row">
			<div class="col-sm-12 clearfix top-buffer bottom-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section">Sappiamo che il tempo ha un valore.</h3>
				<p class="subtitle">Entra nel nostro mondo. Faremo tesoro della tua email</p>
				<p>
					<input type="email" class="newsletter"
						placeholder="il tuo indirizzo email">
				</p>
				<a href="javascript:void(0);" class="btn btn-default bottom-buffer">Iscriviti</a>
			</div>
		</div>
	</div>
</div>