<div ng-init="wowInit({boxClasses:'home-content wow'})" class="container text-center">
    <div class="row">
        <div class="col-sm-12 clearfix top-buffer">
            <h3 class="title section mot"><span>Benvenuto in Annacloud</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 clearfix bottom-buffer wow fadeIn" data-wow-delay=".4s">
            <p class="subtitle">Grazie per esserti iscritto!<br>Da ora in poi non ci sfuggi!</p>
            <a href="configura" class="btn btn-default btn-lg top-buffer hidden">Configura adesso</a>
        </div>
    </div>
    <div class="row top-buffer hidden" ng-if="getPreconfigurati().length != 0">
        <section class="swipe swipe-featured">
            <swiper class="" grab-cursor="true" keyboard-control="true" slides-per-view="4" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;1&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;2&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; }}">
                <slides>
                    <slide ng-repeat="conf in getPreconfigurati()"><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s" ng-click="modificaConfig(conf)">
                            <div class="img-container"><img ng-src="{{conf.thumbnail}}" /></div><span>{{conf.nome}}</span>
                        </a></slide>
                </slides>
                <pagination></pagination>
            </swiper>
        </section>
    </div>
</div>