<div class="configuratore" ng-controller="unadunaConfiguratorController2 as contr" ng-init="contr.initConfiguratore()">
	<nav class="navbar yamm navbar-default navbar-fixed-top nomargin main-configurator-navbar">
		<div class="container">
			<ul class="nav navbar-nav fixed-navbar-left">
				<li>
					<a href="#!/home" class="link" ><i class="fa fa-home hidden"></i><img src="images/logonew-big.png" class="hidden-xs" style="height: 25px;"><img src="images/logonew-mobile-conf-big.png" class=" visible-xs-inline-block" style="height: 15px"></a>
				</li>
				<li class="dropdown yamm-fw keep-open">
					<a href="javascript:void(0);" class="active dropdown-toggle link modello" data-toggle="dropdown">scegli il modello</a>
					<ul class="dropdown-menu scelta-modelli">
						<li ng-class="{'disabled':modelliAbilitati}" >
							<div class="yamm-content  scelta-modelli clearfix">
								<div class="col-xs-12 bags-line">
									<!-- CON IL REPEATER VADO A ELENCARE TUTTI I MODELLI DI BORSA DISPONIBILI  -->
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center no-margin no-padding bags-line" ng-repeat="modello in modelli">
										<a href="javascript:void(0);" class="modello-borsa" id="start3dbutton" type="button" ng-click="contr.scegliModello(modello)">
										<img ng-src="{{modello.urlThumbnail}}" class="hidden visible-xs" style="padding: 20px; padding-bottom: 0;" />
										<img ng-src="{{modello.urlThumbnailHD}}" class="hidden-xs" /><h5 class="nome no-margin">{{modello.nome}}<!--<br><small>{{getModelSizes(modello.nome)}}cm</small>--></h5></a>
										<a href="javascript:void(0);" data-featherlight="images/size-demo.jpg" class="" style="display: inline-block;padding: 2px 15px !important; border: solid 1px #999; margin-bottom: 15px;">{{getModelSizes(modello.nome)}}cm <i style="color: #999; padding-left: 10px;" class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
			<h1 class="navbar-brand navbar-left nomargin hidden-xs hidden" id="edit-text">Borsa #1</h1>
			<ul class="nav navbar-nav fixed-navbar-right">
				
				<li ng-show="user==null" class="hidden">
					<a href="#!/accedi" id="user-menu" ng-click="setAccesso()"><i class="unaicon-login"></i> <span class="hidden-xs">accedi</span></a>
			
				</li>
				<li class="favoriti">
					<a href="#!/preferiti" ng-click="setPreferiti()"><i class="unaicon-favourite"></i> <span class="hidden-xsx">({{getPreferitiSize()}})</span></a>
				</li>
				<li class="carrello">
					<a href="#!/carrello" ng-click="setCarrello()"><i class="unaicon-cart"></i> <span class="hidden-xsx">({{getCarrelloSize()}})</span></a>
				</li>
			</ul>
		</div>
	</nav>
	<div id="spinIcon" class="spinIcon">
		<img src="images/finger-touch.png" />
	</div>
	<div id="loader" class="loader" ng-show="contr.visibleManager.loaderVisible">
		<div class="la-ball-grid-pulse la-2x custom">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<a href="javascript:void(0);" id="openZoom"><i class="unaicon-zoom"></i></a>
	<div class="zoom">
		<button id="closeZoom"><i class="unaicon-remove"></i></button>
		<div class="zoomHolder">
			<img data-src="" id="pz" data-elem="pinchzoomer" data-options="scaleMode:proportionalInside;maxZoom:2;initZoom:1.5;doubleTapZoom:2;force3D:true;appendControls:true;appendControlHolder:true">
			<div class="controlHolder" data-elem="controlHolder">
				<div class="zoomIn" data-elem="zoomIn"><i class="unaicon-add"></i></div>
				<div class="zoomOut" data-elem="zoomOut"><i class="unaicon-minus"></i></div>
				<div class="fullscreenToggle" data-elem="fullscreenToggle"><i class="unaicon-minus"></i></div>
			</div>
		</div>
	</div>
	<div id="price-panel" ng-if="modelloSelezionato != ''">
		<p class="size">{{contr.getModelloSelezionato()}}<br>{{getModelSizes(modelloSelezionato)}} cm</p>
		<hr>
		<h3 class="total-price ">{{contr.priceManager.price}}&euro;</h3>
		<p class="price-detail">22% IVA inclusa,<br>spese di sped. escluse</p>
		<a href="javascript:void(0);" class="btn btn-default btn-block" ng-click="contr.aggiungiAlCarrello()">Acquista</a>
		<a href="javascript:void(0);" style="padding-top: 5px; display: block;"  ng-click="contr.aggiungiAiPreferiti()"><small>salva</small></a>
	</div>
	<div id="canvasWrapper">
		<div id="a-middle" class="spinnerContainer">
			<div>
				<img class="transition-image" id="transition-image" ng-src="{{dataUrl}}">
			</div>
			<div class="animate-show-hide" ng-show="spinnerVisibleTest" id="spritespin"></div>
		</div>
	</div>
	<div id="zoomCanvasWrapper">
		<div class="spinnerContainer" >
			<div class="animate-show-hide" id="spritespin_zoom"></div>
		</div>
	</div>
	<div class="accessori" style="opacity: 0;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<section class="swipe">
						<swiper class="accessori-categoria" grab-cursor="true"keyboard-control="true" slides-per-view="6" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;6&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;6&quot; }}">
							<slides>
								<slide ng-repeat="tipoAccessorio in tipiAccessoriModelloSelezionato" ng-click="contr.selezioneTipoAccessorio(tipoAccessorio)" class="swiper-lazy" ng-class="{active: tipoAccessorio === tipoEntitaSelezionata, selected: tipoAccessorio === tipoEntitaSelezionata}"><a href="javascript:void(0);">{{contr.traduciCategoriaAccessorio(tipoAccessorio)}}</a></slide>
							</slides>
							<prev></prev>
							<next></next>
						</swiper>
					</section>
				</div>
			</div>
			<div class="row" id="rigaaccessori">
				<div class="col-lg-12">
					<section class="swipe">
						<swiper id="pippo" class="accessori-thumb" grab-cursor="true" observer="false"  keyboard-control="true" slides-per-view="12" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;5&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;8&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;12&quot; }}">
							<slides ng-hide="tipoEntitaSelezionata == 'iniziali' || tipoEntitaSelezionata == 'tipi-tracolle' || tipoEntitaSelezionata == 'varianti-tracolle'  || tipoEntitaSelezionata == 'tipi-ciondoli' || tipoEntitaSelezionata == 'varianti-ciondoli'"  >
								<slide ng-repeat="entita in entitaTipoAccessorioSelezionato" ng-click="contr.selezionaEntita(entita)">
									<!-- <a href="javascript:void(0);" ng_class="{activeAccessorio: entita.nome === nomeEntitaSelezionata}" title=""> -->
									<a href="javascript:void(0);" ng_class="{activeAccessorio: contr.isSelected(entita)}" title="">
	                                    <img ng-src="{{entita.urlThumbnail}}" ng_class="{'thumb-colori': contr.isColore(entita)}">
	                                    <div ng-if="removable" class="closeItem"><i class="unaicon-remove"></i></div>
									</a>
									<span class="itemName">{{traduciNomiInterfaccia(entita)}}</span>
								</slide>
							</slides>
							<prev></prev>
							<next></next>
						</swiper>
						<swiper class="accessori-thumb" ng-show="tipoEntitaSelezionata == 'tipi-tracolle'" grab-cursor="true" observer="false" keyboard-control="true" slides-per-view="12" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;6&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;8&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;12&quot; }}">
							<slides>
								<slide ng-repeat="entita in categorieTracolle" ng-click="contr.selezionaCategoriaTracolla(entita)">
									<!-- <a href="javascript:void(0);" ng_class="{activeAccessorio: entita.nome === nomeEntitaSelezionata}" title=""> -->
									<a href="javascript:void(0);" ng_class="{activeAccessorio: false}" title="">
										<img ng-src="{{contr.getThumbnailNameTracolle(entita)}}" class="swiper-lazy"/>
	                                    <div ng-if="removable" class="closeItem"><i class="unaicon-remove"></i></div>
	                                </a>
								</slide>
							</slides>
							<prev></prev>
							<next></next>
						</swiper>
						<swiper class="accessori-thumb" ng-show="tipoEntitaSelezionata == 'varianti-tracolle'" grab-cursor="true" observer="false" keyboard-control="true" slides-per-view="12" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;6&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;8&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;12&quot; }}">
							<slides>
								<slide ng-click="contr.resetTracolle()">
									<a href="javascript:void(0);"  title="" class="unaduna-char">
										<i class="fa fa-arrow-left hidden" style="line-height: 1.5em;"></i>
										<img src="images/icon-up.png"class="swiper-lazy">
									</a>
								</slide>
								<slide ng-repeat="entita in variantiTracolle" ng-click="contr.selezionaEntita(entita)">
									<!-- <a href="javascript:void(0);" ng_class="{activeAccessorio: entita.nome === nomeEntitaSelezionata}" title=""> -->
									<a href="javascript:void(0);" ng_class="{activeAccessorio: contr.isSelected(entita)}" title="">
										<img ng-src="{{entita.urlThumbnail}}" class="swiper-lazy thumb-colori"/>
										<div ng-if="removable" class="closeItem"><i class="unaicon-remove"></i></div>
									</a>
									<span class="itemName" style="">{{traduciNomiInterfaccia(entita)}}</span>
								</slide>
							</slides>
							<prev></prev>
							<next></next>
						</swiper>


						<swiper class="accessori-thumb" ng-show="tipoEntitaSelezionata == 'tipi-ciondoli'" grab-cursor="true" observer="false" keyboard-control="true" slides-per-view="12" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;6&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;8&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;12&quot; }}">
							<slides>
								<slide ng-repeat="entita in categorieCiondoli" ng-click="contr.selezionaCategoriaCiondolo(entita)">
									<!-- <a href="javascript:void(0);" ng_class="{activeAccessorio: entita.nome === nomeEntitaSelezionata}" title=""> -->
									<a href="javascript:void(0);" ng_class="{activeAccessorio: false}" title="">
										<img ng-src="{{contr.getThumbnailNameCiondoli(entita)}}" class="swiper-lazy"/>
	                                    <div ng-if="removable" class="closeItem"><i class="unaicon-remove"></i></div>
	                                </a>
								</slide>
							</slides>
							<prev></prev>
							<next></next>
						</swiper>
						<swiper class="accessori-thumb" ng-show="tipoEntitaSelezionata == 'varianti-ciondoli'" grab-cursor="true" observer="false" keyboard-control="true" slides-per-view="12" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;6&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;8&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;12&quot; }}">
							<slides>
								<slide ng-click="contr.resetCiondoli()">
									<a href="javascript:void(0);"  title="" class="unaduna-char">
										<i class="fa fa-arrow-left hidden" style="line-height: 1.5em;"></i>
										<img src="images/icon-up.png"class="swiper-lazy">
									</a>
								</slide>
								<slide ng-repeat="entita in variantiCiondoli" ng-click="contr.selezionaEntita(entita)">
									<!-- <a href="javascript:void(0);" ng_class="{activeAccessorio: entita.nome === nomeEntitaSelezionata}" title=""> -->
									<a href="javascript:void(0);" ng_class="{activeAccessorio: contr.isSelected(entita)}" title="">
										<img ng-src="{{entita.urlThumbnail}}" class="swiper-lazy thumb-colori"/>
										<div ng-if="removable" class="closeItem"><i class="unaicon-remove"></i></div>
									</a>
									<span class="itemName">{{traduciNomiInterfaccia(entita)}}</span>
								</slide>
							</slides>
							<prev></prev>
							<next></next>
						</swiper>


						<swiper class="accessori-thumb" ng-show="tipoEntitaSelezionata == 'iniziali'" grab-cursor="true" observer="false" keyboard-control="true" slides-per-view="12" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;6&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;8&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;12&quot; }}">
							<slides>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('backspace')" class="unaduna-char">
										<i class="unaduna-char-icon-backspace"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('A')" class="unaduna-char" ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-a"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('B')"  class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-b"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('C')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-c"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('D')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-d"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('E')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-e"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('F')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-f"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('G')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-g"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('H')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-h"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('I')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-i"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('J')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-j"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('K')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-k"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('L')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-l"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('M')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-m"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('N')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-n"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('O')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-o"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('P')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-p"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('Q')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-q"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('R')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-r"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('S')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-s"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('T')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-t"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('U')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-u"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('V')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-v"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('W')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-w"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('X')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-x"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('Y')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-y"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('Z')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-z"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('1')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-paperella"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('2')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-nota"></i>
									</a>
								</slide>
								<slide>
									<a href="javascript:void(0);" ng-click="contr.addSymbol('3')" class="unaduna-char"ng-class="{disabled: !contr.getSymbolEnabled()}">
										<i class="unaduna-char-icon-stella"></i>
									</a>
								</slide>
							</slides>
							<prev></prev>
							<next></next>
							
						</swiper>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="riepilogo" ng-if="modelloSelezionato != ''">
		<div class="container price-container">
			<div class="row">
				<div class="col-xs-4 text-center" style="padding-right:5px;">
					<h3 class="price nomargin">{{contr.priceManager.price}}&euro;</h3>
				</div>
				<div class="col-xs-4 text-center" style="padding:0px;">
					<a href="javascript:void(0);" class="btn btn-default" ng-click="contr.aggiungiAlCarrello()">Acquista</a>
				</div>
				<div class="col-xs-4 text-center" style="padding-left:5px;">
					<a href="javascript:void(0);" class="btn" ng-click="contr.aggiungiAiPreferiti()">Salva</a>
				</div>
					
			</div>
			<div class="row info ">
				<div class="col-sm-12 text-center clearfix">
					<p>22% IVA inclusa, spese di sped. escluse</p>
				</div>
			</div>
		</div>
		<div class="container credits-container">
			<div class="row">
				<div class="col-sm-12 text-center clearfix">
					<small>Copyright AnnaCloud 2018</small>
				</div>
			</div>
		</div>
	</div>
</div>

