<!--div class="contatti-content wow" ng-init="wowInit({boxClasses:'contatti-content wow'})"-->
<div class="contatti-content ">
	<div class="container-fluid text-justify">
		<div class="row narrazione">
			<div class="col-sm-6 no-padding no-margin  clearfix bottom-buffer  wow fadeInUpSmall" data-wow-delay=".2s">
				<div class="content">
					<p class="text">Anna Cloud nasce dalla passione di due giovanissimi imprenditori toscani, Andrea e Luca, che hanno deciso di cambiare le regole dell’alta moda ideando un nuovo concept di pelletteria.</p>
					
					<p class="text">Questa visione nasce dall’incontro tra tradizione e innovazione e dall’interpretazione in chiave digitale e social di tutto il processo di creazione di una borsa da donna.</p>
					
					<p class="text">La parte produttiva è gestita interamente “in casa”. Luca, infatti, è pellettiere da due generazioni, già fornitore di prodotti di altissima fattura per brand quali Gucci, Louis Vuitton e Cavalli.</p>
					
					<p class="text">Ma come rendere un prodotto di alta qualità economicamente accessibile? E soprattutto: come trasformare radicalmente l’esperienza di acquisto?</p>
					
					<p class="text">Qui entra in gioco la tecnologia, con un configuratore 3D realizzato su misura, capace di offrire un alto livello di personalizzazione e una qualità foto-realistica dei prodotti.
					Il processo produttivo infine viene condiviso passo passo con il cliente che avrà il piacere e la consapevolezza di aver acquistato un oggetto unico.</p>
					
                    
				</div>
			</div>
			<div class="col-sm-6 no-padding no-margin clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s" style="background: url(images/team-img-1-bg.jpg) center center no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/team-img-1-bg.jpg" class="hidden visible-xs">
			</div>
		</div>
		<div class="row quote text-center"  style="background-color: #fff; border-bottom: solid 1px #eee">
			<div class="col-sm-6 clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s" >
				<div class="content contatti fist">
					<p class="text top-buffer">Email: <a href="mailto:info@annacloud.it">info@annacloud.it</a></p>
					<p class="text top-buffer">Tel: 0571/1776800<br>Customer Care<br>dal lunedì al venerdì<br>dalle 9 alle 18.</p>
				</div>
				
			</div>
			<div class="col-sm-6 clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s">
				<div class="content contatti last">
					<p class="text top-buffer bottom-buffer">Contattaci</p>
					<form>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="nome" class="sr-only hidden"></label>
									<input  type="text" class="form-control" id="nome" placeholder="Nome">
								</div>
								<div class="form-group">
									<label for="cognome" class="sr-only hidden"></label>
									<input  type="text" class="form-control" id="cognome" placeholder="Cognome">
								</div>
								<div class="form-group">
									<label for="email" class="sr-only hidden"></label>
									<input  type="text" class="form-control" id="email" placeholder="email">
								</div>
								<div class="form-group">
									<label for="commenti" class="sr-only hidden"></label>
									<textarea  class="form-control" row="5" id="commenti" placeholder="messaggio"></textarea>
								</div>
							</div>
						</div>
						<button ng-click="cambiaNome(nome,cognome)" class="btn btn-default btn-save">Invia</button>
						 <a href="javascript:void(0);" class="recover">Informativa sulla privacy</a>
						<div class="checkbox">
							<label><input type="checkbox"class="js-switch">Ho preso visione dell’informativa e autorizzo il trattamento dei miei dati secondo quanto in essa riportato.</label></a>
						</div>
					</form>
				</div>
				
			</div>
		</div>
		
	</div>
	<div class="container text-center top-buffer bottom-buffer hidden">
		<div class="row">
			<div class="col-sm-12 clearfix top-buffer bottom-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section">Sappiamo che il tempo ha un valore.</h3>
				<p class="subtitle">Entra nel nostro mondo. Faremo tesoro della tua email</p>
				<p>
					<input type="email" class="newsletter"
						placeholder="il tuo indirizzo email">
				</p>
				<a href="#" class="btn btn-default btn-lg  bottom-buffer">Iscriviti</a>
			</div>
		</div>
	</div>
</div>