<update-title title="Annacloud.com - Contatti"></update-title>
<update-meta http-equiv="Content-Language" content="es"></update-meta>
<update-meta name="description" content="Descrizione"></update-meta>
<update-meta property="og:title" content="Annacloud.com - Contatti"></update-meta>
<update-meta property="og:description" content="Descrizione"></update-meta>
<update-meta itemprop="description" content="Descrizione"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>

<!--div class="contatti-content wow" ng-init="wowInit({boxClasses:'contatti-content wow'})"-->
<div class="contatti-content" ng-controller="contattiController">
	<div class="jumbotron error no-margin wow fadeIn" data-wow-delay="0.1s">
	</div>
	<div class="container-fluid text-justify">
			<!-- <div class="container">
					<h2 class="slogan wow fadeIn" data-wow-delay="1s">Pagina in costruzione</h2>
					<a href="#!/" class="btn btn-default btn-lg follow anim top-buffer wow fadeIn"  data-wow-delay="1.5s">torna alla home</a>
				</div> -->
		<!-- <div class="row narrazione">
			<div class="col-sm-6 no-padding no-margin clearfix bottom-buffer wow fadeInUpSmall visible-xs" data-wow-delay=".2s" style="background: url(images/team-img-2-bg.jpg) center center no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/team-img-2-bg.jpg" class="hidden visible-xs">
			</div>
			<div class="col-sm-6 no-padding no-margin  clearfix bottom-buffer  wow fadeInUpSmall" data-wow-delay=".2s">
				<div class="content">
					<h3 style="font-weight: lighter" class="text-center">Chi siamo</h3>
					<p class="text">Anna Cloud nasce dalla passione di due giovanissimi imprenditori toscani, Andrea e Luca, che hanno deciso di cambiare le regole dell’alta moda ideando un nuovo concept di pelletteria.</p>
					
					<p class="text">Questa visione nasce dall’incontro tra tradizione e innovazione e dall’interpretazione in chiave digitale e social di tutto il processo di creazione di una borsa da donna.</p>
					
					<p class="text">La parte produttiva è gestita interamente “in casa”. Luca, infatti, è pellettiere da due generazioni, già fornitore di prodotti di altissima fattura per brand quali Gucci, Louis Vuitton e Cavalli.</p>
					
					<p class="text">Ma come rendere un prodotto di alta qualità economicamente accessibile? E soprattutto: come trasformare radicalmente l’esperienza di acquisto?</p>
					
					<p class="text">Qui entra in gioco la tecnologia, con un configuratore 3D realizzato su misura, capace di offrire un alto livello di personalizzazione e una qualità foto-realistica dei prodotti.
					Il processo produttivo infine viene condiviso passo passo con il cliente che avrà il piacere e la consapevolezza di aver acquistato un oggetto unico.</p>
					
                    
				</div>
			</div>
			<div class="col-sm-6 no-padding no-margin clearfix bottom-buffer wow fadeInUpSmall hidden-xs" data-wow-delay=".2s" style="background: url(images/team-img-2-bg.jpg) center center no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/team-img-2-bg.jpg" class="hidden visible-xs">
			</div>
		</div> -->
		<div class="row quote text-center"  style="background-color: #fff; border-bottom: solid 1px #eee">
			<div class="col-sm-12 clearfix top-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section"><span>Contattaci</span></h3>
				<h4 class="text">Contattaci per qualunque informazione sui nostri prodotti e servizi, o per richiederci dei singoli componenti da aggiungere alla tua borsa!</h4>
			</div>
			<div class="col-sm-6 clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s" >
				<div class="content contatti first">
					<p class="text top-buffer">Email: <a href="mailto:info@annacloud.it">info@annacloud.it</a></p>
					<p class="text top-buffer">Tel: 0571/1776800<br>Customer Care<br>dal lunedì al venerdì<br>dalle 9 alle 18.</p>
				</div>
				
			</div>
			<div class="col-sm-6 clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s">
				<div class="content contatti last">
					<form name="contactForm" novalidate role="form">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="nome" class="sr-only hidden"></label>
									<input  type="text" class="form-control" ng-model="name" id="nome" name="nome" placeholder="Nome">
								</div>
								<div class="form-group">
									<label for="cognome" class="sr-only hidden"></label>
									<input  type="text" class="form-control" ng-model="surname" id="cognome" name="cognome" placeholder="Cognome">
								</div>
								<div class="form-group">
									<label for="email" class="sr-only hidden"></label>
									<input  type="text" class="form-control" ng-model="email" id="email" name="email" placeholder="email">
								</div>
								<div class="form-group">
									<label for="commenti" class="sr-only hidden"></label>
									<textarea  class="form-control" row="5" ng-model="comments" id="commenti" name="messaggio" placeholder="messaggio"></textarea>
								</div>
							</div>
						</div>
						<div class="text-left" style="display: inline-block;width: 100%; max-width: 400px;">
							<button ng-click="submit()" ng-model="button" class="btn btn-default" ng-disabled="!checked" style="width: 100px;">Invia</button>
							<a href="javascript:void(0)" class="recover">Informativa sulla privacy</a>
						</div>
						<label class="checkbox-container text-left top-buffer" style="display: inline-block;margin-left: 2px; max-width: 400px;">
							<small>Ho preso visione dell’informativa e autorizzo il trattamento dei miei dati secondo quanto in essa riportato.</small>
							<input type="checkbox" ng-model="checked">
							<span class="checkmark"></span>
						</label>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>