<update-title title="Annacloud.it - Contatti"></update-title>
<update-meta http-equiv="Content-Language" content="es"></update-meta>
<update-meta name="description" content="Contattaci per maggiori informazioni o per coprire nuovi dettagli da aggiungere alla tua borsa!"></update-meta>
<update-meta property="og:title" content="Annacloud.it - Contatti"></update-meta>
<update-meta property="og:description" content="Contattaci per maggiori informazioni o per coprire nuovi dettagli da aggiungere alla tua borsa!"></update-meta>
<update-meta itemprop="description" content="Contattaci per maggiori informazioni o per coprire nuovi dettagli da aggiungere alla tua borsa!"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>

<!--div class="contatti-content wow" ng-init="wowInit({boxClasses:'contatti-content wow'})"-->
<div class="contatti-content" ng-controller="contattiController">
	<div class="jumbotron quote-section page-header index wow fadeIn hidden  visible-xs-block" data-wow-delay="0.1s" style="margin-bottom:0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 clearfix">
					<h2 class="title" ng-bind-html="'contatti_titolo_mobile' | translate"></h2>
				</div>
			</div>
		</div>
	</div>
	<div style="position: relative">
		<img src="images/jumbotron-contatti.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden-xs" data-wow-delay="0.1s">
		<img src="images/jumbotron-contatti-xs.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden visible-xs-block" data-wow-delay="0.1s">
		<h2 class="slogan-4 hidden-xs"><span>Contattaci</span></h2>
	</div>
	<div class="container-fluid text-justify">
		
		<div class="row quote text-center"  style="background-color: #fff; border-bottom: solid 1px #eee">
			<div class="col-sm-12 clearfix top-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section hidden" ng-bind-html="'contatti_titolo' | translate"></h3>
				<h4 class="text" ng-bind-html="'contatti_sottotitolo' | translate"></h4>
			</div>
			<div class="col-sm-6 clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s" >
				<div class="content contatti first">
					<p class="text top-buffer" ng-bind-html="'contatti_info1' | translate"></p>
					<p class="text top-buffer" ng-bind-html="'contatti_info2' | translate"></p>
				</div>
				
			</div>
			<div class="col-sm-6 clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s">
				<div class="content contatti last">
					<form name="contactForm" novalidate role="form">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="nome" class="sr-only hidden"></label>
									<input  type="text" class="form-control" ng-model="name" id="nome" name="nome" placeholder="{{ 'campo_nome' | translate }}">
								</div>
								<div class="form-group">
									<label for="cognome" class="sr-only hidden"></label>
									<input  type="text" class="form-control" ng-model="surname" id="cognome" name="cognome" placeholder="{{ 'campo_cognome' | translate }}">
								</div>
								<div class="form-group">
									<label for="email" class="sr-only hidden"></label>
									<input  type="text" class="form-control" ng-model="email" id="email" name="email" placeholder="{{ 'campo_email' | translate }}">
								</div>
								<div class="form-group">
									<label for="commenti" class="sr-only hidden"></label>
									<textarea  class="form-control" row="5" ng-model="comments" id="commenti" name="messaggio" placeholder="{{ 'campo_messaggio' | translate }}"></textarea>
								</div>
							</div>
						</div>
						<div class="text-left" style="display: inline-block;width: 100%; max-width: 400px;">
							<button ng-click="submit()" ng-model="button" class="btn btn-default" ng-disabled="!checked" style="width: 100px;" ng-bind-html="'invia' | translate"></button>
							<a href="javascript:void(0)" class="recover" ng-bind-html="'info_privacy' | translate"></a>
						</div>
						<label class="checkbox-container text-left top-buffer" style="display: inline-block;margin-left: 2px; max-width: 400px;">
							<small ng-bind-html="'privacy_confirm' | translate"></small>
							<input type="checkbox" ng-model="checked">
							<span class="checkmark"></span>
						</label>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>