<update-title title="Annacloud.it - Esperienza"></update-title>
<update-meta http-equiv="Content-Language" content="es"></update-meta>
<update-meta name="description" content="Descrizione"></update-meta>
<update-meta property="og:title" content="Annacloud.it - Esperienza"></update-meta>
<update-meta property="og:description" content="Descrizione"></update-meta>
<update-meta itemprop="description" content="Descrizione"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>

<div class="esperienza-content " ng-init="wowInit({boxClass:'wow'})">
	<div class="jumbotron quote-section page-header index wow fadeIn hidden  visible-xs-block" data-wow-delay="0.1s" style="margin-bottom:0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 clearfix">
					<h2 class="title">La tua borsa &egrave; unica,<br>
						totalmente componibile e personalizzabile.</h2>
				</div>
			</div>
		</div>
	</div>
	<div style="position: relative">
		<img src="images/jumbotron-scopri.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden-xs" data-wow-delay="0.1s">
		<img src="images/jumbotron-scopri-xs.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden visible-xs-block" data-wow-delay="0.1s">
		<h2 class="slogan-4 hidden-xs"><span>La tua borsa &egrave; unica,</span><br>
			<span>totalmente componibile e personalizzabile.</span></h2>
	</div>
	<div class="container-fluid text-justify">
		<div class="row narrazione">
			<div class="col-sm-6 no-padding no-margin  clearfix bottom-buffer  wow fadeInUpSmall"  data-wow-offset="450" >
				<div class="content">
					<p class="text" style="font-weight: 300; font-size: 1.75em;text-align: center">La nostra qualità/prezzo è possibile grazie alla nostra filosofia che mette l’utente al centro e alla ottimizzazione
					del nostro processo produttivo.</p>
					<div class="divider"></div>
					<p class="text">Non abbiamo negozi: ci affidiamo al web per ricevere gli ordini e offrire alle nostre clienti un’esperienza di acquisto
					unica nel suo genere. Ogni ordine va oltre la scelta di un modello, poiché tutte le nostre clienti partecipano al
					design e alla progettazione della borsa che acquisteranno.</p>
					<p class="text hidden">Il nostro configuratore permette di valutare le combinazioni più adatte a rappresentare lo spirito e il carattere della
					futura proprietaria, che proverà il piacere di possedere un pezzo unico, frutto della propria creatività.</p>
				</div>
			</div>
			<div class="col-sm-6 no-padding no-margin clearfix bottom-buffer wow fadeInUpSmall"  data-wow-offset="450" data-wow-delay=".5s" style="background: url(images/esperienza-img-1-bg.jpg) center right no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/esperienza-img-1-bg.jpg" class="hidden visible-xs">
			</div>
		</div>

		<div class="row narrazione" >
			<div class="col-sm-6 col-sm-push-6 no-padding no-margin  clearfix bottom-buffer wow fadeInUpSmall"  data-wow-offset="450" >
				<div class="content">
					<p class="text"  style="font-weight: 300; font-size: 1.75em">Poich&eacute; ogni borsa &egrave; diversa dall’altra, la produzione avviene just in time. Che cosa significa? Ogni pezzo è realizzato solo per te, senza sprechi e utilizzando vera pelle Made in Italy di qualit&agrave; certificata ambientale.</p>
				</div>
			</div>
			<div class="col-sm-6 col-sm-pull-6 no-padding no-margin clearfix bottom-buffer wow fadeInUpSmall" data-wow-offset="450" data-wow-delay=".5s" style="background: url(images/esperienza-img-2-bg.jpg) center center no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/esperienza-img-2-bg.jpg" class="hidden visible-xs">
			</div>
		</div>
		<div class="row quote text-center">
			<div class="col-sm-12 no-margin  clearfix wow fadeInUpSmall" data-wow-delay=".2s"  style="background-color: #fff;border-bottom: solid 1px #ddd;">
				<div class="content wow fadeInUp" data-wow-delay=".4s">
					<p class="text">È un percorso di conoscenza e coinvolgimento che permette di apprezzare ancora di più la qualità dell’oggetto finito, raccontandone il lavoro, la sapienza e la cura dietro ogni dettaglio.</p>
					<a href="#" class="btn btn-lg btn-default  top-buffer wow fadeIn" style="padding: 20px 40px;" data-wow-delay=".5s" >Configura ora la tua borsa</a>
				</div>
				<!--<img src="images/esperienza-img-3.png" style="width: 80%" class="wow fadeIn" data-wow-delay="1s" >-->
			</div>
		</div>
	</div>
	<div class="container text-center top-buffer bottom-buffer">
		<div class="row">
			<div class="col-sm-12 clearfix top-buffer bottom-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section">Sappiamo che il tempo ha un valore.</h3>
				<p class="subtitle">Entra nel nostro mondo.<br>Faremo tesoro della tua email</p>
				<!-- Begin Mailchimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="https://annacloud.us20.list-manage.com/subscribe/post?u=2712cd03e689197086c2de54a&amp;id=2318145ba2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate>
						<div id="mc_embed_signup_scroll">
							<div class="mc-field-group">
								<input type="email" value="" name="EMAIL" placeholder="il tuo indirizzo email" class="required email newsletter" id="mce-EMAIL">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2712cd03e689197086c2de54a_2318145ba2" tabindex="-1" value=""></div>
							<div class="clear"><input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default  bottom-buffer"></div>
						</div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
</div>