<div class="esperienza-content " ng-init="wowInit({boxClass:'wow'})">
	<div class="jumbotron quote-section page-header index wow fadeIn hidden  visible-xs-block" data-wow-delay="0.1s" style="margin-bottom:0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 clearfix">
					<h2 class="title">Realizziamo pezzi unici<br>
						personalizzati e di altissima qualit&aacute;.</h2>
				</div>
			</div>
		</div>
	</div>
	<div style="position: relative">
		<img src="images/jumbotron-esperienza.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden-xs" data-wow-delay="0.1s">
		<img src="images/jumbotron-esperienza-xs.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden visible-xs-block" data-wow-delay="0.1s">
		<h2 class="slogan-4 hidden-xs"><span>Realizziamo pezzi unici,</span><br>
			<span>personalizzati e di altissima qualit&aacute;.</span></h2>
	</div>
	<div class="container-fluid text-justify">
		<div class="row narrazione">
			<div class="col-sm-6 no-padding no-margin  clearfix bottom-buffer  wow fadeInUpSmall"  data-wow-offset="450" >
				<div class="content">
					<p class="text">La nostra qualità/prezzo è possibile grazie alla nostra filosofia che mette l’utente al centro e alla ottimizzazione
					del nostro processo produttivo.</p>
					<p class="text">Non abbiamo negozi: ci affidiamo al web per ricevere gli ordini e offrire alle nostre clienti un’esperienza di acquisto
					unica nel suo genere. Ogni ordine va oltre la scelta di un modello, poiché tutte le nostre clienti partecipano al
					design e alla progettazione della borsa che acquisteranno.</p>
					<p class="text">Il nostro configuratore permette di valutare le combinazioni più adatte a rappresentare lo spirito e il carattere della
					futura proprietaria, che proverà il piacere di possedere un pezzo unico, frutto della propria creatività.</p>
				</div>
			</div>
			<div class="col-sm-6 no-padding no-margin clearfix bottom-buffer wow fadeInUpSmall"  data-wow-offset="450" data-wow-delay=".5s" style="background: url(images/esperienza-img-1-bg.jpg) center right no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/esperienza-img-1-bg.jpg" class="hidden visible-xs">
			</div>
		</div>

		<div class="row narrazione" >
			<div class="col-sm-6 col-sm-push-6 no-padding no-margin  clearfix bottom-buffer wow fadeInUpSmall"  data-wow-offset="450" >
				<div class="content">
					<p class="text">Poich&eacute; ogni borsa &egrave; diversa dall’altra, la produzione avviene just in time. Che cosa significa? Così come i piatti in un ristorante di qualità vengono cucinati espressi, anche le nostre borse iniziano a prendere vita a partire da ogni singola “comanda”.</p>
					<p class="text">Questo vuol dire che “ci sarà da aspettare”, è vero, ecco perché rendiamo bella anche l’attesa. Durante il tempo di produzione, infatti, le nostre clienti vengono aggiornate periodicamente ricevendo comunicazioni, immagini e video della loro borsa in ogni fase di realizzazione.</p>
				</div>
			</div>
			<div class="col-sm-6 col-sm-pull-6 no-padding no-margin clearfix bottom-buffer wow fadeInUpSmall" data-wow-offset="450" data-wow-delay=".5s" style="background: url(images/esperienza-img-2-bg.jpg) center center no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/esperienza-img-2-bg.jpg" class="hidden visible-xs">
			</div>
		</div>
		<div class="row quote text-center">
			<div class="col-sm-12 no-margin  clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s"  style="background: url(images/esperienza-img-3-bg.jpg) bottom center repeat-x; background-size: contain; background-color: #fff;border-bottom: solid 1px #ddd;">
				<div class="content">
					<p class="text">È un percorso di conoscenza e coinvolgimento che permette di apprezzare ancora di più la qualità dell’oggetto finito, raccontandone il lavoro, la sapienza e la cura dietro ogni dettaglio.</p>
				</div>
				<img src="images/esperienza-img-3.png" style="width: 80%">
			</div>
		</div>
	</div>
	<div class="container text-center top-buffer bottom-buffer">
		<div class="row">
			<div class="col-sm-12 clearfix top-buffer bottom-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section">Sappiamo che il tempo ha un valore.</h3>
				<p class="subtitle">Entra nel nostro mondo. Faremo tesoro della tua email</p>
				<p>
					<input type="email" class="newsletter"
						placeholder="il tuo indirizzo email">
				</p>
				<a href="javascript:void(0);" class="btn btn-default bottom-buffer">Iscriviti</a>
			</div>
		</div>
	</div>
</div>