<div class="home-content wow" ng-init="wowInit({boxClasses:'home-content wow'})">
	<div class="jumbotron quote-section page-header index wow fadeIn hidden visible-xs" data-wow-delay="0.1s">
		<div class="container">
			<h2 class="title wow fadeIn" data-wow-delay="1s">Abbiamo innovato il concetto di borsa<br>
			per darti un’oggetto unico.</h2>
			<a href="#!/configura" class="btn btn-conf top-buffer">Configura ora la tua borsa</a>
		</div>
	</div>
	<section class="swipe hidden-xs">
		<swiper grab-cursor="true" keyboard-control="true" slides-per-view="1" effect="slide" loop="true" autoplay="5000" speed="500">
			<slides>
				<slide><img src="images/home-header-1.jpg" class="responsive">
					<h3 class="slogan-1"><span>Abbiamo innovato il concetto di borsa</span><br>
					<span>per darti un’oggetto unico.</span><br>
					<a href="#!/configura" class=" "><span class="cta">Configura ora la tua borsa <i class="fa fa-chevron-right"></i></span></a></h3>
				</slide>
				<slide><img src="images/home-header-2.jpg" class="responsive">
					<h3 class="slogan-2"><span>Personalizza ogni dettaglio</span><br>
						<span>e dai forma alla tua idea di borsa.</span><br>
						<a href="#!/configura" class=" "><span class="cta">Configura ora la tua borsa <i class="fa fa-chevron-right"></i></span></a></h3>
				</slide>
				<slide><img src="images/home-header-3.jpg" class="responsive">
					<h3 class="slogan-3"><span>La qualità di una volta, lo stile di oggi.</span><br>
						<a href="#!/configura" class=" "><span class="cta">Configura ora la tua borsa <i class="fa fa-chevron-right"></i></span></a></h3>
				</slide>
			</slides>
			<pagination></pagination>
		</swiper>
	</section>
	<section class="swipe hidden visible-xs-block">
		<swiper grab-cursor="true" keyboard-control="true" slides-per-view="1" effect="slide" loop="true" autoplay="5000" speed="500">
			<slides>
				<slide>
					<img src="images/home-header-1-xs.jpg" class="responsive">
				</slide>
				<slide>
					<img src="images/home-header-2-xs.jpg" class="responsive">
				</slide>
				<slide>
					<img src="images/home-header-3-xs.jpg" class="responsive">
				</slide>
			</slides>
			<pagination></pagination>
		</swiper>
	</section>
	
	<div class="container text-center top-buffer bottom-buffer ">
		<div class="row top-buffer bottom-buffer wow fadein"  data-wow-delay="0.1s">
			<div class="container text-center">
				<div class="row">
					<div class="col-sm-12">
						<div class="divider"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 clearfix bottom-buffer top-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h2 class="title section top-buffer"><span>Finalmente una borsa personalizzata<br>e di alta qualità</span></h2>
				<p class="subtitle bottom-buffer">Prendete <b>25 anni di esperienza</b> come pellettieri toscani e aggiungete un sistema di <b>personalizzazione 3D</b>. Ne uscirà un’esperienza utente completamente ridisegnata, per fare in modo che ogni cliente sia partecipe del processo creativo e produttivo della propria borsa.<br>
				<b>Questa è la rivoluzione di Anna Cloud<b>.</p>
			</div>
			<div class="container text-center">
				<div class="row">
					<div class="col-sm-12">
						<div class="divider reverse"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron quote-section wow fadeIn hidden" data-wow-delay="0.1s">
		<div class="container top-buffer">
			<div class="row">
				<div class="col-sm-4 clearfix">
					<h2 class="title">Finalmente una borsa personalizzata<br>e di alta qualità</h2>
					
				</div>
				<div class="col-sm-8 clearfix">
					<p class="subtitle" style="max-width: 100%;">Prendete <b>25 anni di esperienza</b> come pellettieri toscani e aggiungete un sistema di <b>personalizzazione 3D</b>. Ne uscirà un’esperienza utente completamente ridisegnata, per fare in modo che ogni cliente sia partecipe del processo creativo e produttivo della propria borsa.
					<b>Questa è la rivoluzione di Anna Cloud<b>.</p>
				</div>	
			</div>
		</div>
	</div>
	<div class="jumbotron quote-section collection wow fadeIn" data-wow-delay="0.4s">
		<img src="images/jumbotron-collezione-home-xl.jpg" class="hidden visible-xl-block responsive" >
		<img src="images/jumbotron-collezione-home-md-lg.jpg" class="hidden-xs hidden-xl responsive" >
		<img src="images/jumbotron-collezione-home-xs.jpg"  class="hidden visible-xs-block responsive">
	</div>
	<div class="jumbotron quote-section collection wow fadeIn" data-wow-delay="0.4s">
		<div class="container container-quota-section-image">
			<div class="quote-section-image">
				<img src="images/collezione-static-bg.png" class="hidden visible-xs-block responsive" style="position: absolute; top:0;left:0; width: 100%;">
				<div class="row">
					<div class="col-sm-12 clearfix">
						<div class="row">
							<div class="col-sm-4 clearfix">
								<h2 class="title">Collezione</h2>
							</div>
							<div class="col-sm-8 clearfix">
								<p class="subtitle" style="max-width: 100%;"><b>*The star(t)*</b> - la nostra prima collezione a edizione limitata è l’inizio, ma anche la stella. La stella che ci guida in questo percorso di passione e la stella che ci fa brillare ogni giorno. Vogliamo dedicare questa collezione alla “star” che è in ognuno di noi.</p>
								<a href="#!/collezione" class="btn btn-default">Esplora</a> <a href="#!/configura" class="btn hidden btn-default anim">Crea</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container text-center top-buffer">
		<div class="row top-buffer">
			<div class="col-sm-12 clearfix bottom-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section top-buffer mot"><span>Atelier</span></h3>
				<p class="subtitle">Abbiamo scelto delle <b>speciali configurazioni</b> per te, ma puoi costruire <b>la tua borsa unica</b><br>nel nostro configuratore</p>
			</div>
		</div>
		<div class="row top-buffer ">
			<section class="swipe swipe-featured">
				<swiper class="" grab-cursor="true" keyboard-control="true" slides-per-view="4" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;2&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; }}">
					<slides>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-1.png" /></div><span>Crossbody #1</span></a></slide>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-3.png" /></div><span>Crossbody #1</span></a></slide>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-2.png" /></div><span>Crossbody #1</span></a></slide>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-1.png" /></div><span>Crossbody #1</span></a></slide>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-2.png" /></div><span>Crossbody #1</span></a></slide>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-3.png" /></div><span>Crossbody #1</span></a></slide>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-1.png" /></div><span>Crossbody #1</span></a></slide>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-2.png" /></div><span>Crossbody #1</span></a></slide>
						<slide ><a href="javascript:void(0);" class="bag-box home-content wow fadeIn" data-wow-delay="0.4s"><div class="img-container"><img src="images/atelier-test-3.png" /></div><span>Crossbody #1</span></a></slide>
						</slides>
						
					<next></next>
				</swiper>
			</section>
		</div>
		<div class="row top-buffer bottom-buffer hidden">
			<div class="col-sm-12 clearfix bottom-buffer">
				<a href="javascript:void(0);" class="btn btn-default btn-lg ">Vedi tutti</a>
			</div>
		</div>
	</div>
	<div class="container text-center top-buffer">
		<div class="row top-buffer">
			<div class="col-sm-12 clearfix bottom-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section mot top-buffer"><span>100% artigianato toscano</span></h3>
				<p class="subtitle bottom-buffer">Pensiamo che la vera <b>innovazione</b> sia il punto d’incontro tra l’<b>esperienza</b><br>e le nuove <b>tecnologie</b>.</p>
			</div>
			<div class="col-sm-6 clearfix bottom-buffer home-content wow fadeInUpSmall top-buffer" data-wow-delay=".2s">
				<img src="images/artigiano-1.jpg" class="bottom-buffer"  style="width: 100%">
				<h3 class="title section top-buffer hidden"><span>Cura della tua borsa</span></h3>
				<p class="subtitle bottom-buffer top-buffer">La <b>cura nei dettagli</b> e la <b>qualit&agrave; delle finiture</b> delle nostre borse nascono dalle mani sapienti dei nostri artigiani. Il nostro lavoro &egrave; lasciare che quel sapere si esprima al meglio.</p>
			</div>
			<div class="col-sm-6 clearfix bottom-buffer home-content wow fadeInUpSmall top-buffer" data-wow-delay=".2s">
				<img src="images/artigiano-2.jpg" class="bottom-buffer" style="width: 100%">
				<h3 class="title section hidden top-buffer"><span>Cura della tua borsa</span></h3>
				<p class="subtitle bottom-buffer top-buffer">Il piacere di una cosa fatta bene &egrave; <b>sensoriale</b> e <b>intellettuale</b>. Il tatto e la vista percepiscono la qualit&agrave;, ma &egrave; dalla mente che scaturisce il piacere per aver saputo scegliere un <b>prodotto che durer&agrave; nel tempo.</b></p>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-12">
				<div class="divider"></div>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-12 clearfix bottom-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section">Sappiamo che il tempo ha un valore.</h3>
				<p class="subtitle">Entra nel nostro mondo. Faremo tesoro della tua email</p>
				<p>
					<input type="email" class="newsletter"
						placeholder="il tuo indirizzo email">
				</p>
				<a href="javascript:void(0);" class="btn btn-default  bottom-buffer">Iscriviti</a>
			</div>
		</div>
	</div>
</div>
