<div class="modal-header">
    
    <h3 class="modal-title"><span ng-bind-html="'modale_scheda_ordine_header' | translate"></span> {{ordine.codice}}</h3>
    <hr style="margin-bottom: 0;">
</div>
<div class="modal-body">
    <table class="text-left">
        <tr ng-repeat="configurazione in ordine.configurazioni">
            <td style="width:35%;vertical-align: top"><img style="width:90%; height: auto; border:solid 1px #eee; margin-right: 10px" src="{{configurazione.thumbnail}}"></td>
            <td>
                <h3 style="padding-bottom: 10px; margin: 0;">{{configurazione.nome}}</h3>
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <h4 style="padding-bottom: 0;" ng-bind-html="'modale_scheda_ordine_accessori' | translate"></h4>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 70%">
                            <p class="riepilogo-accessori">
                                <span ng-repeat="base in configurazione.elencoEntita" ng-if="base.categoria != 'modello'">
                                    {{base.categoria.toUpperCase()}}: {{traduciNomiOrdini(base)}}<br>
                                </span>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <hr style="margin-top: 0">
    <button type="button" class="btn btn-default" ng-click="ok(modalInstance)">Ok</button>
</div>