<div class="modal-header">
    
    <h3 class="modal-title" ><span ng-bind-html="'modale_scelta_taglia_header' | translate"></span> {{taglieManagerModal.nomeModello.replace('_',' ')}}</h3>
    <hr style="margin-bottom: 0;">
</div>
<div class="modal-body">
    <div class="col-xs-12 text-center bags-line">
        <img src="images/thumb-dummy.jpg" style="width: 75%; height: auto;">
    </div>
    <div ng-repeat="taglia in taglieManagerModal.listaTaglie">
        <div class="col-xs-6 text-center bags-line top-buffer" >
            <button class="btn btn-default" ng-click="scegliTaglia(taglia)">
            {{taglia}} cm
            </button>
        </div>        
    </div>    
</div>
<div class="modal-footer">
    <hr style="margin-top: 0">    
</div>