<div class="modal-header">
    
    <h3 class="modal-title">Paolo Rossi</h3>
    <hr style="margin-bottom: 0;">
</div>
<div class="modal-body">
    <div class="ordine">
        <div class="item clearfix">
            <h4 class="item-data"><span>Ordine:</span>1544029763635<br><span>Data:</span>12/02/2019</h4>
        </div>
    </div>
    <div class="ordine ">
        <div class="item clearfix">
            <h4 class="item-data"><span>Ordine:</span>1544029763635<br><span>Data:</span>12/02/2019</h4>
        </div>
    </div>
</div>
<div class="modal-footer">
    <hr style="margin-top: 0">
    <button type="button" class="btn btn-default" ng-click="ok(modalInstance)">Ok</button>
</div>