<div class="modal-header">
    
    <h3 class="modal-title">Scelta Taglia per modello {{taglieManagerModal.nomeModello.replace('_',' ')}}</h3>
    <hr style="margin-bottom: 0;">
</div>
<div class="modal-body">
    <div ng-repeat="taglia in taglieManagerModal.listaTaglie">
        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-offset-3 col-xs-12 text-center no-padding bags-line" ng-click="scegliTaglia(taglia)">
        
            <img src="images/thumb-dummy.jpg" style="width: 100%; height: auto;">
            {{taglia}}
        </div>        
    </div>    
</div>
<div class="modal-footer">
    <hr style="margin-top: 0">    
</div>