<div ng-controller="preferitiController">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 clearfix top-buffer">
                <h3 class="title section mot" ng-hide="isCurrentUserAdmin()" ng-bind-html="'preferiti_titolo' | translate"></h3>
                <h3 class="title section mot" ng-show="isCurrentUserAdmin()" ng-bind-html="'preferiti_titolo_admin' | translate"></h3>
            </div>
        </div>
        <div ng-if="getPreferiti().length == 0">
            <div class="row">
                <div class="col-sm-12 clearfix bottom-buffer wow fadeIn" data-wow-delay=".4s">
                    <p class="subtitle" ng-hide="isCurrentUserAdmin()" ng-bind-html="'preferiti_sottotitolo_blank' | translate"></p>
                    <p class="subtitle" ng-show="isCurrentUserAdmin()" ng-bind-html="'preferiti_sottotitolo_blank_admin' | translate"></p>
                    <a href="configura" class="btn btn-default btn-lg" style="margin-top: 1em;" ng-bind-html="'configura_adesso' | translate"></a>
                </div>
            </div>
        </div>
        <div ng-if="getPreferiti().length != 0" class="row bag-list tab-pane fade in active" id="preferiti">
            <div ng-repeat="conf in getPreferiti()" class="col-sm-12 bag-item clearfix visible-xs">
                <div class="col-sm-8 no-padding">
                    <div class="col-sm-3">
                        <a href="javascript: void(0)" ng-click="goToPage(conf)">
                            <img ng-src="{{conf.thumbnail.split(',')[0]}}" class="bag-sample">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <h4 ng-if="conf.nome" class="bag">{{conf.nome}} - URL: {{getPublicUrl(conf)}}</h4>
                            <h4 ng-if="!conf.nome" class="bag" ng-bind-html="'preferiti_no_name' | translate"></h4>
                            <h5 ng-if="conf.taglia" class="section-small left"><span ng-bind-html="'preferiti_taglia' | translate"></span> {{conf.taglia}}</h5>
                            <h5 ng-if="!conf.taglia" class="section-small left" ng-bind-html="'preferiti_taglia_mancante' | translate"></h5>
                        </div>
                        <div class="col-sm-6 base">
                            <h5 class="section-small left" ng-bind-html="'preferiti_base' | translate"></h5>
                            <table>
                                <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">
                                    <td><span ng-bind-html="'preferiti_base_modello' | translate"></span></td>
                                    <td>{{base.descrizione.replace('_', ' ').toUpperCase()}}</td>
                                </tr>
                                <tr>
                            </table>
                        </div>
                        <div class="col-sm-6 accessori">
                            <h5 class="section-small left" ng-bind-html="'preferiti_base_accessori' | translate"></h5>
                            <table>
                                <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria != 'modello'">
                                    <td><span><b>{{base.categoria.toUpperCase()}}:</b> </span></td>
                                    <td>{{traduciNomiOrdini(base)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-buttons">
                        <a href="javascript:void(0)" class="btn btn-default " ng-if="conf.tipo != 'SC'" ng-click="goToPage(conf)" ng-bind-html="'preferiti_modifica' | translate"></a>
                        <a href="javascript:void(0)" class="btn btn-default" ng-click="addToCart(conf)" ng-hide="isCurrentUserAdmin()" ng-bind-html="'preferiti_aggiungi_carrello' | translate"></a>
                        <div ng-show="isCurrentUserAdmin()" ng-bind-html="'preferiti_notifica_versione_desktop_admin' | translate"> 
                        </div>
                        <p ng-click="eliminaConfigurazione(conf.codice, conf.nome)" class="remove" ng-bind-html="'preferiti_elimina' | translate"></p>
                    </div>
                </div>
            </div>
            <div ng-repeat="conf in getPreferiti()" class="col-sm-12 bag-item clearfix hidden-xs">
                <div class="col-sm-8 ">
                    <div class="media">
                        <div class="media-left">
                            <a href="javascript: void(0)" ng-click="goToPage(conf)">
                                <img ng-src="{{conf.thumbnail.split(',')[0]}}" class="media-object bag-sample">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="col-sm-12">
                                <p ng-click="eliminaConfigurazione(conf.codice, conf.nome)" class="remove" ng-bind-html="'preferiti_elimina' | translate"></p>
                                <h4 ng-if="conf.nome" class="media-heading bag">{{conf.nome}}  <small  ng-show="isCurrentUserAdmin()"><a class="btn btn-small btn-default" href="javascript:void(0)" ngclipboard data-clipboard-text="{{getPublicUrl(conf)}}"><i class="fa fa-clipboard"></i> Copia indirizzo</a></small></h4>
                                <h4 ng-if="!conf.nome" class="media-heading bag" ng-bind-html="'preferiti_no_name' | translate"></h4>
                                <h5 ng-if="conf.taglia" class="section-small left"><span ng-bind-html="'preferiti_taglia' | translate"></span> {{conf.taglia}}</h5>
                                <h5 ng-if="!conf.taglia" class="section-small left" ng-bind-html="'preferiti_taglia_mancante' | translate"></h5>
                                
                            </div>
                            <div class="col-md-6 col-sm-12 base">
                                <h5 class="section-small left" ng-bind-html="'preferiti_base' | translate"></h5>
                                <table>
                                    <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">
                                        <td><span ng-bind-html="'preferiti_base_modello' | translate"></span></td>
                                        <td>{{base.descrizione.replace('_', ' ').toUpperCase()}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 accessori">
                                <h5 class="section-small left" ng-bind-html="'preferiti_base_accessori' | translate"></h5>
                                <table>
                                    <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria != 'modello'">
                                        <td><span><b>{{base.categoria.toUpperCase()}}:</b> </span></td>
                                        <td>{{traduciNomiOrdini(base)}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-buttons">
                        <a href="javascript:void(0)" class="btn btn-default "  ng-if="conf.tipo != 'SC'" ng-click="goToPage(conf)" ng-bind-html="'preferiti_modifica' | translate"></a>    
                        <div ng-show="isCurrentUserAdmin()">
                            <div style="height: 20px;"></div>
                            <div style="margin: 15px 0; width: auto; float: left; margin-right: 10px;">
                                <label>Ordine</label>
                                <input  class="form-control"  ng-model="conf.ordineInterfaccia">
                            </div>
                            <div style="margin: 15px 0; width: auto; float: left;">
                                <label>Influencer</label>
                                <select class="form-control" ng-model="conf.urlImmagineInfluencer">
                                    <option ng-repeat="item in influencers" value="{{item.imageUrl}}" data-image="{{item.imageUrl}}">{{getInfluencerName(item.imageUrl)}}</option>
                                </select>
                            </div>
                            <div style="width: 100%; float: left;">
                            <a href="javascript:void(0)" class="btn btn-default" ng-click="editPreconfig(conf)" ng-bind-html="'salva' | translate"></a>
                            </div>
                        </div>        
                        <a href="javascript:void(0)" class="btn  btn-default" ng-click="addToCart(conf)" ng-hide="isCurrentUserAdmin()" ng-bind-html="'preferiti_aggiungi_carrello' | translate"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>