<div ng-controller="preferitiController">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 clearfix top-buffer">
                <h3 class="title section mot"><span ng-hide="isCurrentUserAdmin()">Preferiti</span><span ng-show="isCurrentUserAdmin()">Preconfigurati</span></h3>
            </div>
        </div>
        <div ng-if="getPreferiti().length == 0">
            <div class="row">
                <div class="col-sm-12 clearfix bottom-buffer wow fadeIn" data-wow-delay=".4s">
                    <p class="subtitle">Non hai ancora nessun prodotto salvato nei <span ng-hide="isCurrentUserAdmin()">Preferiti</span><span ng-show="isCurrentUserAdmin()">Preconfigurati</span>.</p>
                    <a href="#!/configura" class="btn btn-default btn-lg" style="margin-top: 1em;">Configura adesso</a>
                </div>
            </div>
        </div>
        <div ng-if="getPreferiti().length != 0" class="row bag-list tab-pane fade in active" id="preferiti">
            <div ng-repeat="conf in getPreferiti()" class="col-sm-12 bag-item clearfix visible-xs">
                <div class="col-sm-8 no-padding">
                    <div class="col-sm-3">
                        <a href="javascript: void(0)" ng-click="goToPage(conf)">
                            <img ng-src="{{conf.thumbnail}}" class="bag-sample">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <h4 ng-if="conf.nome" class="bag">{{conf.nome}}</h4>
                            <h4 ng-if="!conf.nome" class=" bag">Senza nome</h4>
                        </div>
                        <div class="col-sm-6 base">
                            <h5 class="section-small left">Base </h5>
                            <table>
                                <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">
                                    <td><span>MODELLO:</span></td>
                                    <td>{{base.descrizione.replace('_', ' ').toUpperCase()}}</td>
                                </tr>
                                <tr>
                            </table>
                        </div>
                        <div class="col-sm-6 accessori">
                            <h5 class="section-small left">Accessori</h5>
                            <table>
                                <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria != 'modello'">
                                    <td><span><b>{{base.categoria.toUpperCase()}}:</b> </span></td>
                                    <td>{{traduciNomiOrdini(base)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-buttons">
                        <a href="javascript:void(0)" class="btn btn-default " ng-click="goToPage(conf)">modifica il modello</a>
                        <a href="javascript:void(0)" class="btn btn-default" ng-click="addToCart(conf)" ng-hide="isCurrentUserAdmin()">aggiungi al carrello</a>
                        <div ng-show="isCurrentUserAdmin()">
                            <span>Per gestire le preconfigurate, devi visualizzare questa pagina in versione desktop</span>
                        </div>
                        <p ng-click="eliminaConfigurazione(conf.codice, conf.nome)" class="remove">elimina <small><i class="unaicon-remove"></i></small></p>
                    </div>
                </div>
            </div>
            <div ng-repeat="conf in getPreferiti()" class="col-sm-12 bag-item clearfix hidden-xs">
                <div class="col-sm-8 ">
                    <div class="media">
                        <div class="media-left">
                            <a href="javascript: void(0)" ng-click="goToPage(conf)">
                                <img ng-src="{{conf.thumbnail}}" class="media-object bag-sample">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="col-sm-12">
                                <p ng-click="eliminaConfigurazione(conf.codice, conf.nome)" class="remove">elimina <small><i class="unaicon-remove"></i></small></p>
                                <h4 ng-if="conf.nome" class="media-heading bag">{{conf.nome}}</h4>
                                <h4 ng-if="!conf.nome" class="media-heading bag">Senza nome</h4>
                            </div>
                            <div class="col-md-6 col-sm-12 base">
                                <h5 class="section-small left">Base </h5>
                                <table>
                                    <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'modello'">
                                        <td><span>MODELLO:</span></td>
                                        <td>{{base.descrizione.replace('_', ' ').toUpperCase()}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 accessori">
                                <h5 class="section-small left">Accessori</h5>
                                <table>
                                    <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria != 'modello'">
                                        <td><span><b>{{base.categoria.toUpperCase()}}:</b> </span></td>
                                        <td>{{traduciNomiOrdini(base)}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-buttons">
                        <a href="javascript:void(0)" class="btn btn-default " ng-click="goToPage(conf)">modifica il modello</a>    
                        <div ng-show="isCurrentUserAdmin()">
                            <div style="height: 20px;"></div>
                            <div style="margin: 15px 0; width: auto; float: left; margin-right: 10px;">
                                <label>Ordine</label>
                                <input  class="form-control"  ng-model="conf.ordineInterfaccia">
                            </div>
                            <div style="margin: 15px 0; width: auto; float: left;">
                                <label>Influencer</label>
                                <select class="form-control" ng-model="conf.urlImmagineInfluencer">
                                    <option ng-repeat="item in influencers" value="{{item.imageUrl}}" data-image="{{item.imageUrl}}">{{getInfluencerName(item.imageUrl)}}</option>
                                </select>
                            </div>
                            <div style="width: 100%; float: left;">
                            <a href="javascript:void(0)" class="btn btn-default" ng-click="editPreconfig(conf)">salva</a>
                            </div>
                        </div>        
                        <a href="javascript:void(0)" class="btn  btn-default" ng-click="addToCart(conf)" ng-hide="isCurrentUserAdmin()">aggiungi al carrello</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>