<update-title title="Annacloud.it - Home Page"></update-title>
<update-meta http-equiv="Content-Language" content="es"></update-meta>
<update-meta name="description" content="Dove le nuove tecnologie incontrano innovazione, sostenibilità e artigianato."></update-meta>
<update-meta property="og:title" content="Annacloud.it - Home Page"></update-meta>
<update-meta property="og:description" content="Dove le nuove tecnologie incontrano innovazione, sostenibilità e artigianato."></update-meta>
<update-meta itemprop="description" content="Dove le nuove tecnologie incontrano innovazione, sostenibilità e artigianato."></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>

<div class="home-content wow" ng-controller="schedaProdottoController" ng-init="schedaProdottoInit()">

    <div class="container text-center top-buffer">
        <div class="col-sm-12 scheda-prodotto">
            <div class="row top-buffer">
                <div class="col-sm-6 clearfix bottom-buffer home-content top-buffer">
                    <section class="swipe swipe-featured">
                        <swiper class="" grab-cursor="true" keyboard-control="true" slides-per-view="1">
                            <slides>
                                <slide ng-repeat="thumb in thumbnails">
                                    <a href="{{thumb}}" class="bag-box home-content wow fadeIn" data-lightbox="borsa-1" data-wow-delay="0.4s">
                                        <div class="img-container"><img ng-src="{{thumb}}" /></div>
                                    </a>
                                </slide>
                            </slides>
                            <prev></prev>
                            <next></next>
                            <pagination></pagination>
                        </swiper>
                    </section>
                </div>
                <div class="col-sm-6 clearfix bottom-buffer home-content top-buffer">
                    <div class="col-sm-12 base">
                        <h2 class="bag">{{shoppingSelected.nome}}</h2>
                        <!--<p class="hidden">{{shoppingSelected.descrizioneBreve}}</p>-->
                        <h3 class="bag top-buffer bottom-buffer">{{prezzo}} &euro;</h3>
                        <hr>
                        <p ng-bind-html="'taglia' | translate"></p>
                        <a href="#" ng-click="scegliTagliaShopping('piccola')" class="btn" ng-class="{'btn-save':shoppingSelected.taglia === 'piccola', 'btn-default': shoppingSelected.taglia === 'grande'}" style="min-width: auto" ng-bind-html="'piccola' | translate"></a>
                        <a href="#" ng-click="scegliTagliaShopping('grande')" class="btn" ng-class="{'btn-save':shoppingSelected.taglia === 'grande', 'btn-default': shoppingSelected.taglia === 'piccola'}" style="min-width: auto" ng-bind-html="'grande' | translate"></a>
                        <hr>
                        <a href="#" class="btn btn-big btn-bigger btn-save" style="text-transform: uppercase;" ng-click="shoppingAcquista()" ng-bind-html="'acquista' | translate"></a>
                    </div>
                    <div class="col-sm-12 base" ng-show="shoppingSelected.taglia === 'piccola'"  ng-bind-html="'shop_scheda_dati_piccola' | translate">
                        
                        <!--<h2 class="section-small left" ng-bind-html="'info' | translate"></h2>
                        <div ng-bind-html="shoppingSelected.info"></div>
                        <p>Un Pratico secchiello realizzata con morbida nappa.</p>
                        <ul class='checklist-bag'>
                            <li>interno foderato con un resistente cotone.</li>
                            <li>offre una comoda tasca con chiusura zip.</li>
                            <li>chiusura a strozzo del secchiello decorata con timbro a caldo.</li>
                            <li>Tracolla regolabile che ti permette di indossarla a spalla o a tracolla.</li>
                            <li>La combinazione colori preferita dal nostro team creativo.</li>
                        </ul>
                        <hr>
                        <table>
                            <tbody>
                                <tr>
                                    <td><span>Composizione:</span></td>
                                    <td>Pelle</td>
                                </tr>
                                <tr>
                                    <td><span>Accessori metallici:</span></td>
                                    <td>Colore nickel</td>
                                </tr>
                                <tr>
                                    <td><span>Altezza:</span></td>
                                    <td>piccola_ 29cm</td>
                                </tr>
                                <tr>
                                    <td><span>Diametro:</span></td>
                                    <td>22cm</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <p>Made in Italy</p>-->
                    </div>

                    <div class="col-sm-12 base" ng-show="shoppingSelected.taglia === 'grande'"  ng-bind-html="'shop_scheda_dati_grande' | translate">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center  bottom-buffer">
        <div class="row top-buffer bottom-buffer wow fadein" data-wow-delay="0.1s">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-12 clearfix bottom-buffer top-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
                <!--<p class="subtitle bottom-buffer" style="text-align :justify" ng-bind-html="shoppingSelected.descrizione"></p>-->
                <p class="subtitle bottom-buffer" style="text-align :justify" ng-bind-html="'shop_scheda_descrizione' | translate"></p>
            </div>
        </div>
    </div>
</div>