<update-title title="Annacloud.it - Home Page"></update-title>
<update-meta http-equiv="Content-Language" content="es"></update-meta>
<update-meta name="description" content="Dove le nuove tecnologie incontrano innovazione, sostenibilità e artigianato."></update-meta>
<update-meta property="og:title" content="Annacloud.it - Home Page"></update-meta>
<update-meta property="og:description" content="Dove le nuove tecnologie incontrano innovazione, sostenibilità e artigianato."></update-meta>
<update-meta itemprop="description" content="Dove le nuove tecnologie incontrano innovazione, sostenibilità e artigianato."></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>

<div class="home-content wow" ng-controller="schedaProdottoController" ng-init="homeInit({boxClasses:'home-content wow'})">
	
	<div class="container text-center top-buffer">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row top-buffer scheda-prodotto">
                <div class="col-sm-6 clearfix bottom-buffer home-content top-buffer">
                    <a href="scheda-prodotto" class="swiper-slide bag-box shopping">
                        <div class="img-container"><img src="https://s3.eu-central-1.amazonaws.com/unaduna-images-bucket/1564158169139_PINK.png" onmouseover="this.src='https://s3.eu-central-1.amazonaws.com/unaduna-images-bucket/1564158742564_SMILE.png'" onmouseout="this.src='https://s3.eu-central-1.amazonaws.com/unaduna-images-bucket/1564158169139_PINK.png'"></div>
                        
                    </a>
                </div>
                <div class="col-sm-6 clearfix bottom-buffer home-content top-buffer">
                    <div class="col-sm-12 base">
                        <h2 class="bag">Nome articolo</h2>
                        <p>Breve descrizione del prodotto</p>
                        <h2 class="bag top-buffer bottom-buffer">640 &euro;</h2>
                        <a href="#" class="btn btn-big btn-default ">Acquista</a>
                    </div>
                    <div class="col-sm-12 base">
                        <h2 class="section-small left">Informazioni</h2>
                        <table>
                            <tr>
                                <td><span>Colore:</span></td>
                                <td>Anise</td>
                            </tr>
                            <tr>
                                <td><span>Corde:</span></td>
                                <td>Anise</td>
                            </tr>
                            <tr>
                                <td><span>Ciondolo:</span></td>
                                <td>Anise</td>
                            </tr>
                            <tr>
                                <td><span>Fodere:</span></td>
                                <td>Art</td>
                            </tr>
                            <tr>
                                <td><span>Tracolle:</span></td>
                                <td>Anise</td>
                            </tr>
                            <tr>
                                <td><span>Strozzino:</span></td>
                                <td>Anise</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
		</div>
	</div>
	
    <div class="container text-center  bottom-buffer">
        <div class="row top-buffer bottom-buffer wow fadein" data-wow-delay="0.1s">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix bottom-buffer top-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
                <h2 class="title section top-buffer"><span>Titolone</span></h2>
                <p class="subtitle bottom-buffer" style="text-align :justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut turpis eget libero elementum fermentum. Suspendisse maximus ornare velit vitae feugiat. Phasellus vitae risus in est placerat venenatis. Sed blandit efficitur commodo. Proin aliquet lacus augue, quis consequat nulla facilisis nec. Curabitur dignissim nunc elit, sit amet ornare dolor interdum sit amet. Vivamus consequat faucibus leo, ut consectetur ligula tincidunt ac. Etiam pulvinar lacus ac elit varius venenatis. Phasellus commodo venenatis justo, quis posuere dolor consectetur et. Morbi vestibulum augue nec libero elementum, feugiat aliquam nisl lacinia. Aliquam laoreet quis nisl quis ultricies. Nulla id erat felis. Sed in augue maximus, suscipit ex eleifend, volutpat nibh.</p>
            </div>
        </div>
    </div>
</div>