<!--<div class="visione-content wow" ng-controller="visioneController as contr" ng-init="contr.wowInit({boxClasses:'visione-content wow'})"> // da testare per wow.js -->
<!--div class="visione-content wow" ng-init="wowInit({boxClasses:'visione-content wow'})"-->
<div class="visione-content">
	<div class="jumbotron quote-section page-header index wow fadeIn hidden visible-xs-block" data-wow-delay="0.1s" style="margin-bottom:0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 clearfix">
					<h2  class="title">La nostra idea di lusso,<br>
						la nostra visione della qualità</h2>
	
				</div>
			</div>
		</div>
	</div>
	<div style="position: relative">
		<img src="images/jumbotron-visione-2.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden-xs" data-wow-delay="0.1s">
		<img src="images/jumbotron-visione-2-xs.jpg" style="width: 100%;height:auto" class=" wow fadeIn hidden visible-xs-block" data-wow-delay="0.1s">
		<h2 class="slogan-4 hidden-xs"><span>La nostra idea di lusso,</span><br>
			<span>la nostra visione della qualit&aacute;.</span></h2>
	</div>
	<div class="container-fluid text-justify">
		<div class="row narrazione">
			<div class="col-sm-6 no-padding no-margin  clearfix bottom-buffer visione-content wow fadeInUpSmall" data-wow-delay=".2s">
				<div class="content">
					<p class="text">Abbiamo pensato di costruire borse a cavallo del tempo, con le mani nella tradizione e la testa verso il domani.</p>
					<p class="text">Dal passato prendiamo le migliori tecniche artigianali, la cura dei dettagli e la sapienza dei maestri pellettieri toscani, per offrire oggetti durevoli e di grande qualità.</p>
				</div>
			</div>
			<div class="col-sm-6 no-padding no-margin clearfix bottom-buffer visione-content wow fadeInUpSmall" data-wow-delay=".2s" style="background: url(images/visione-img-1-bg.jpg) center center no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/visione-img-1-bg.jpg" class="hidden visible-xs">
			</div>
		</div>

		<div class="row narrazione">
			<div class="col-sm-6 col-sm-push-6 no-padding no-margin  clearfix bottom-buffer visione-content wow fadeInUpSmall" data-wow-delay=".2s">
				<div class="content">
					<p class="text">Dal presente cogliamo le opportunità del digitale e del web, connettendoci ai nostri clienti con un portale innovativo e comunicando costantemente con loro per una esperienza di acquisto dinamica.</p>
					<p class="text">Il nostro configuratore permette infatti di scendere nei minimi dettagli per poter personalizzare ogni articolo e l’ottimizzazione della logistica ci consente di applicare prezzi altrimenti impensabili per prodotti di così alta fattura.</p>
				</div>
			</div>
			<div class="col-sm-6 col-sm-pull-6 no-padding no-margin clearfix bottom-buffer visione-content wow fadeInUpSmall" data-wow-delay=".2s" style="background: url(images/visione-img-2-bg.jpg) center center no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/visione-img-2-bg.jpg" class="hidden visible-xs">
			</div>
		</div>
		<div class="row narrazione">
			<div class="col-sm-6 no-padding no-margin  clearfix bottom-buffer visione-content wow fadeInUpSmall" data-wow-delay=".2s">
				<div class="content">
					<p class="text">Nel futuro le nostre borse sopravvivono al tempo e dal futuro cogliamo segnali ogni giorno interpretandoli per aggiornare costantemente la nostra proposta.</p>
					<p class="text">Ci adattiamo velocemente ai cambiamenti e alle esigenze delle persone, comunichiamo con ogni cliente per fargli capire il valore del suo acquisto e costruiamo esperienze, consapevoli che ogni individuo è unico e che la personalità è il nuovo lusso.</p>
				</div>
			</div>
			<div class="col-sm-6 no-padding no-margin clearfix bottom-buffer visione-content wow fadeInUpSmall" data-wow-delay=".2s" style="background: url(images/visione-img-3-bg.jpg) center center no-repeat; background-size: cover; background-color: #fff" >
				<img src="images/visione-img-3-bg.jpg" class="hidden visible-xs">
			</div>
		</div>
	</div>
	<div class="container text-center top-buffer bottom-buffer">
		<div class="row">
			<div class="col-sm-12 clearfix top-buffer bottom-buffer home-content wow fadeInUpSmall" data-wow-delay=".2s">
				<h3 class="title section">Sappiamo che il tempo ha un valore.</h3>
				<p class="subtitle">Entra nel nostro mondo. Faremo tesoro della tua email</p>
				<p>
					<input type="email" class="newsletter"
						placeholder="il tuo indirizzo email">
				</p>
				<a href="javascript:void(0);" class="btn btn-default bottom-buffer">Iscriviti</a>
			</div>
		</div>
	</div>
</div>