<!DOCTYPE html>
<html>

<head>
    <title>Configuratore Borse</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta property="og:description" content="Configuratore Borse.">
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <!--[if lt IE 9]><script src="javascripts/html5shiv.js"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Source+Sans+Pro:300,400,600" rel="stylesheet">
    <style type="text/css">
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    </style>
</head>

<body>
    <div class="main-header-content">
        <nav class="navbar main-navbar navbar-default nomargin" role="navigation">
            <div class="container">
                <a class="navbar-brand logo-big  hidden-xs text-hide" href="#">Unaduna</a>
                <a class="navbar-brand logo-small hidden-lg hidden-md hidden-sm text-hide" href="#">Unaduna</a>
                <div class="navbar-header navbar-right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav fixed-navbar-right">
                        <li>
                            <a href="#" id="user-menu" data-toggle="dropdown"><i class="unaicon-login"></i> <span class="hidden-xs">accedi</span></a>
                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                <li><a href="accesso.html">Profilo</a></li>
                                <li><a href="#">Esci</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="profilo-borse.html#preferiti"><i class="unaicon-cart"></i> <span class="hidden-xs">(1)</span></a>
                        </li>
                        <li>
                            <a href="profilo-borse.html#ordini"><i class="unaicon-favourite"></i> <span class="hidden-xs">(2)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#">
                                <i class="unaicon-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="language" data-toggle="dropdown">English
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="language">
                                <li>
                                    <a href="#">Deutsche</a>
                                </li>
                                <li>
                                    <a href="#">Francois</a>
                                </li>
                            </ul>
                        </li>
                        <!--<li>
                            <a href="#"><i class="unaicon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="unaicon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="unaicon-instagram"></i></a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <!--<div class="container" style="position: relative">
            <div class="search hidden-xs">
                <input type="text" placeholder="Ricerca"><a href="#"><i class="unaicon-search"></i></a>
            </div>
            <div class="language hidden-xs">
                <a href="#" id="language" data-toggle="dropdown">English <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="language">
                    <li><a href="#">Deutsche</a></li>
                    <li><a href="#">Francois</a></li>
                </ul>
            </div>
        </div>-->
    </div>
    <nav class="navbar navbar-default nomargin main-site-navbar">
        <div class="container">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html" class="">Home</a>
                    </li>
                    <li>
                        <a href="http://unadunaconfiguratore.eu-central-1.elasticbeanstalk.com" target="_blank" class="">Configura</a>
                    </li>
                    <li>
                        <a href="visione.html" class="active link">Visione</a>
                    </li>
                    <li>
                        <a href="esperienza.html" class="">Esperienza</a>
                    </li>
                    <li>
                        <a href="#" class="">Contatti</a>
                    </li>
                    <li>
                        <a href="#" class="">Stores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container text-center top-buffer bottom-buffer">
        <div class="row">
            <div class="col-sm-12 clearfix bottom-buffer wow fadeInUpSmall" data-wow-delay=".2s">
                <h3 class="title section">La nostra idea di lusso,<br />la nostra visione della qualit&agrave;</h3>
                <p>Abbiamo pensato di costruire borse a cavallo del tempo.</p>
            </div>
        </div>
        <div class="row top-buffer bottom-buffer">
            <div class="col-sm-4 passato bottom-buffer wow fadeInDownSmall" data-wow-delay="0.2s">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <b>Dal passato</b> prendiamo la tradizione artigianale, la cura dei dettagli, la sapienza dei maestri pellettieri toscani, per offrire oggetti durevoli e di grande qualit&agrave;.
                        </p>
                    </div>
                    <div class="col-sm-12 top-buffer hidden-xs">
                        <img src="images/corporate-dummy-1.jpg">
                    </div>
                </div>
            </div>
            <div class="section-small hidden visible-xs bottom-buffer"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12 presente bottom-buffer wow fadeInRightSmall" data-wow-delay="0.6s">
                        <div class="row">
                            <div class="col-sm-6 hidden-xs">
                                <img src="images/corporate-dummy-2.jpg">
                            </div>
                            <div class="col-sm-6">
                                <p >
                                    <b>Dal presente</b> cogliamo le opportunit&agrave; del digitale e del web, connettendoci ai nostri clienti con un portale innovativo e comunicando costantemente con loro per una esperienza di acquisto dinamica. <a href="#">Il nostro configuratore</a> permette infatti di scendere nei minimi dettagli per poter personalizzare ogni articolo e l'ottimizzazione della logistica ci consente di applicare prezzi altrimenti impensabili per prodotti di cos&igrave; alta fattura.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section-small hidden visible-xs bottom-buffer"></div>
                    <div class="col-sm-12 futuro wow fadeInUpSmall" data-wow-delay="1s">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    <b>Dal futuro</b>, infine, cogliamo segnali ogni giorno e li interpretiamo per aggiornare costantemente la nostra proposta, adattandoci ai cambiamenti e alle esigenze delle persone, consapevoli che ogni individuo &egrave; unico e che la personalit&agrave; &egrave; il nuovo lusso.
                                </p>
                            </div>
                            <div class="col-sm-6 hidden-xs">
                                <img src="images/corporate-dummy-3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-small hidden visible-xs bottom-buffer"></div>
        <div class="row top-buffer bottom-buffer">
            <div class="col-sm-12 clearfix top-buffer bottom-buffer wow fadeIn" data-wow-delay="2s">
                <h3 class="title section citazione">Le nostre borse portano con loro una storia sempre diversa,<br />
                    una storia da scrivere insieme.</h3>
            </div>
        </div>
    </div>
    <footer class="text-center">
        <div class="footer-navbar-container">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html" class="">Home</a>
                    </li>
                    <li>
                        <a href="http://unadunaconfiguratore.eu-central-1.elasticbeanstalk.com" class="">Configura</a>
                    </li>
                    <li>
                        <a href="visione.html" class="">Visione</a>
                    </li>
                    <li>
                        <a href="esperienza.html" class="">Esperienza</a>
                    </li>
                    <li>
                        <a href="#" class="">Contatti</a>
                    </li>
                    <li>
                        <a href="#" class="">Stores</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="credits">
            <div class="container">
                <a class="logo-footer text-hide" href="#">Unaduna</a>
                <p>
                    Via S. Carlo 2707/2709 47522, San Carlo dI Cesena (FC) Italia<br />
                    Tel. +39 0547 373077 - Fax +39 0547 373363<br />
                    P.IVA 03487580403
                </p>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                Copyright 2017 Unaduna
            </div>
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/mdb.js"></script>
    <!-- <script src="javascripts/custom.js"></script> -->
    <script>new WOW().init();</script>
</body>

</html>
