.fade.ng-hide-add,
.fade.ng-hide-remove {
    -webkit-transition : 1s ease-in-out opacity;
    -moz-transition    : 1s ease-in-out opacity;
    -ms-transition     : 1s ease-in-out opacity;
    -o-transition      : 1s ease-in-out opacity;
    transition         : 1s ease-in-out opacity;
    opacity            : 1;
}

.fade.ng-hide {
    opacity : 0;
}